<div class="grid grid-cols-12 py-3 border-b text-sm">
    
    <td class="flex items-center gap-9 col-span-2">
      <app-custom-check-box
        (changeHandler)="itemSelected($event, category.id)"
        [formControl]="control"
        [name]="category.name"
        [value]="category.id"
      />
      <p class="overflow-hidden whitespace-nowrap text-ellipsis">
        {{ category.name }}
      </p>
    </td>
    <td
      class="relative col-span-5 flex items-center gap-3 text-start"
    >
      <p class="" *ngFor="let config of category.config | slice : 0 : 3">
        <span class="overflow-hidden whitespace-nowrap text-ellipsis">{{ config }}</span>
      </p>
      <div *ngIf="isMenuOpened"  class="flex flex-col absolute z-50 top-5 text-sm rounded shadow-md border w-[252px] bg-white">
        <div class="px-4 py-2 font-inter">
            <h2 class="font-semibold">Base Config</h2>
            <p class="text-[#667185]">This list contains all base config associated with <span class="break-words">{{ category.name }}</span></p>
        </div>
    <p class="px-4 py-2 text-[#101928] overflow-hidden whitespace-nowrap text-ellipsis" *ngFor="let config of category.config">
            <span>{{ config }}</span>
          </p>
    </div>
      <p
        *ngIf="category.config.length > 0"
        class="bg-light-green text-figma-green rounded-full w-[23px] h-[23px] flex flex-col justify-center items-center text-xs"
      >
        +{{ category.config.length - 3 }}
      </p>
    </td>
    <td
      class="col-span-4 overflow-hidden whitespace-nowrap text-ellipsis self-center"
    >
      {{ category.productCount }}
    </td>
    <td class="col-span-1 self-center">
      <button class="flex justify-center w-full" [matMenuTriggerFor]="menu">
        <img src="/assets/ellipses.svg" alt="ellipses" />
      </button>
      <mat-menu #menu="matMenu" panelClass="customMenu">
        <button (click)="editCategory(category.id)" mat-menu-item>
          <span class="text-sm">Edit</span>
        </button>
        <button appClickOutside (clickOutside)="closeCategoryInfo()" (click)="showCategoryInfo(category.id)" mat-menu-item [disabled]="category.config.length === 0">
          <span class="text-sm">View</span>
        </button>
      </mat-menu>
    </td>
</div>
