<div class="grid grid-cols-12 py-3 border-b text-sm">
  <td class="flex items-center gap-9 pr-5 md:col-span-3 2xl:col-span-2">
    <app-custom-check-box
      (changeHandler)="itemSelected($event, category.id)"
      [formControl]="control"
      [name]="category.name"
      [value]="category.id"
    />
    <p class="overflow-hidden whitespace-nowrap text-ellipsis">
      {{ category.name }}
    </p>
  </td>
  <td
    class="md:col-span-4 2xl:col-span-5 flex items-center gap-3 text-start"
  >
    <div
      class="flex items-center gap-3 text-start w-[70%] 2xl:w-[50%] overflow-hidden text-ellipsis whitespace-nowrap"
    >
      <p
        class="" 
        *ngFor="let config of category.config | keyvalue | slice : 0 : 3; let i = index"
      >
        <span class="overflow-hidden whitespace-nowrap text-ellipsis">{{
          config.key
        }}</span>
      </p>
    </div>
    <ng-container *ngIf="category.config | keyvalue as config">
    <button
      appHover
      (hoverEmitter)="isHovered = $event"
      (click)="showCategoryInfo(category.id)"
      *ngIf="config.length > 3"
      class="relative bg-light-green text-figma-green rounded-full w-[23px] h-[23px]  text-xs"
    >
    <p>
      + {{ config.length - 3 }}
    </p>
    <div
      *ngIf="isHovered"
      class="flex flex-col h-96 overflow-auto myScroll absolute right-4 z-50 top-5 text-sm rounded shadow-md border w-[252px] bg-white text-start"
    >
      <div class="px-4 py-2 font-inter">
        <h2 class="font-semibold">Base Config</h2>
        <p class="text-[#667185]">
          This list contains all base config associated with
          <span class="break-words">{{ category.name }}</span>
        </p>
      </div>
      <hr class="mx-3 mb-[13px]"/>
      <div
        class="px-4 py-2 text-[#101928] whitespace-nowrap text-ellipsis leading-tight"
        *ngFor="let config of category.config | keyvalue"
      >
        <h3 class="text-sm text-[#101928]">{{ config.key }}</h3>
        <div class="text-xs text-[#667185] grid grid-flow-col w-fit">
          <div class="flex flex-wrap">

            @for (c of category.config[config.key]; track $index) {
  
              <p
                [ngClass]="{
                  'text-figma-green' : c.isIncluded,
                  'after:border-l': $index !== category.config[config.key].length - 1
                }"
                class=" after:content-[''] after:border-[#667185] after:mx-1"
              >
                {{ c.name }}
              </p>
            }
          </div>
        </div>
      </div>
    </div>
    </button>
  </ng-container>
    
  </td>
  <td
    class="col-span-4 overflow-hidden whitespace-nowrap text-ellipsis self-center"
  >
    <div class="px-1 py-0.5 bg-[#E6E6E64D] rounded-2xl w-16 ml-4">
      <p class="text-center">{{ category.productCount }}</p>
    </div>  
  </td>
  <td class="col-span-1 self-center">
    <button
      (click)="editCategory(category.id)"
      class="flex justify-center w-full"
    >
      <img src="/assets/edit.svg" alt="edit" />
    </button>
  </td>
</div>
