<article
  (click)="onSelect()"
  [ngClass]="{ 'border-4 border-figma-green': isSelected, 'flex-col': isGrid }"
  class="flex w-[297px] h-[245px] gap-[9px]"
>
  <img
    class="h-[166px] border rounded-2xl"
    [ngSrc]="product.coverImage"
    height="166"
    width="297"
    priority
    [alt]="'image of ' + product.productName"
  />
  <div class="flex flex-col pr-[7.5px]">
    <div class="flex items-center justify-between">
      <p class="font-bold">{{ product.productName }}</p>
      <img src="/assets/heart.svg" alt="" />
    </div>
    <p class="text-product-text font-[500] text-sm">
      {{ product.productBrand }}
    </p>
    <div class="flex items-center justify-between">
      <p class="text-sm font-[500]">{{ product.productPrice | currency }}</p>
      <button
        (click)="onNavigateToProduct($event, product.id)"
        class="flex items-center w-fit gap-[10px] text-figma-green"
      >
        <span class="text-sm font-[500]">configure</span>
        <img src="/assets/arrow-right.svg" alt="" />
      </button>
    </div>
  </div>
</article>
