<article
  [ngClass]="{ 'border-4 border-figma-green': isSelected, 'flex flex-col max-w-[297px] w-full h-[245px] gap-[9px]': isGrid, 'grid grid-cols-2 gap-6 w-[618px] h-[166px]': !isGrid }"
>
<div class="relative w-[297px] h-[166px] border rounded-2xl p-[4.5px]">
  <img
    class="object-contain max-w-full max-h-full"
    [ngSrc]="product.coverImage | cloudinaryUrl"
    height="166"
    width="297"
    priority
    [alt]="'image of ' + product.productName"
  />
  <!-- <button (click)="buyNow()" class="absolute rounded-lg bottom-[9px] px-[17px] pb-0.5 bg-[#DADADA8F]">
    <span class="text-figma-green text-xs">Buy Now</span>
  </button> -->
</div>
  <div
 class="flex flex-col pr-[7.5px]">
    <div class="flex items-center justify-between">
      <p class="font-bold max-w-[145px] overflow-hidden whitespace-nowrap text-ellipsis">{{ product.productName }}</p>
      <button (click)="addToWishlist(product.id)">
        <img src="/assets/heart.svg" alt="" />
      </button>
    </div>
    <p class="text-product-text font-[500] text-sm  max-w-[145px] overflow-hidden whitespace-nowrap text-ellipsis">
      {{ product.productBrand }}
    </p>
    <div [ngClass]="!isGrid ? 'mt-[38px]' : ''" class="flex items-center justify-between">
      <p class="text-sm font-[500] max-w-[145px] overflow-hidden whitespace-nowrap text-ellipsis">{{ product.productPrice | currency }}</p>
      <button
        (click)="onNavigateToProduct($event, product.id)"
        class="flex items-center w-fit gap-[10px] text-figma-green"
      >
        <span class="text-sm font-[500]">configure</span>
        <img src="/assets/arrow-right.svg" alt="" />
      </button>
    </div>
  </div>
</article>
