.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 211px;
    border-bottom-width: 1px;
}

.product {
    width: 469px;
    border-width: 1px;
    border-radius: 8px;
}