<header class="flex justify-between mb-6">
  <h2 class="text-xl font-bold">Compare Servers</h2>
  <button (click)="clearSelections()" class="text-red-600 underline">Clear selections</button>
</header>
<main class="grid grid-rows-20">
  <section class="grid grid-cols-7 border row-span-9">
    <section class="border-r flex flex-col justify-center items-center">
      <p>Products</p>
    </section>
    <section class="col-span-3 border-r flex flex-col gap-2 px-3 py-2">
      <p class="py-1.5 px-3 text-lg font-bold border rounded-lg">
        {{ firstProduct.productName }}
      </p>
      <div class="self-center">
        <img [src]="firstProduct.coverImage" class="h-[250px]" alt="" />
      </div>
    </section>
    <section class="col-span-3 border-r flex flex-col gap-2 px-3 py-2">
      <p class="py-1.5 px-3 text-lg font-bold border rounded-lg">
        {{ secondProduct.productName }}
      </p>
      <div class="self-center">
        <img [src]="secondProduct.coverImage" class="h-[250px]" alt="" />
      </div>
    </section>
  </section>
  <section class="grid grid-cols-7 border row-span-2">
    <section class="border-r flex flex-col justify-center items-center">
      Type
    </section>
    <section class="col-span-3 border-r self-center text-center">
      <div *ngIf="productAttr | async as attr">
        <ng-container *ngIf="attr[0]">
          <span *ngFor="let option of attr[0].options | keyvalue">
            {{ option.key }},
          </span>
        </ng-container>
      </div>
    </section>
    <section class="col-span-3 border-r self-center text-center">
      <ng-container *ngIf="productAttr | async as attr">
        <ng-container *ngIf="attr[1]">
          <span *ngFor="let option of attr[1].options | keyvalue">
            {{ option.key }},
          </span>
        </ng-container>
      </ng-container>
    </section>
  </section>
  <section class="grid grid-cols-7 border row-span-2">
    <section class="border-r flex flex-col justify-center items-center">
      Price
    </section>
    <section
      class="col-span-3 border-r flex flex-col justify-center items-center"
    >
      {{ firstProduct.productPrice | currency }}
    </section>
    <section class="col-span-3 self-center text-center">
      {{ secondProduct.productPrice | currency }}
    </section>
  </section>
  <section class="grid grid-cols-7 border row-span-2">
    <section class="border-r flex flex-col justify-center items-center">
      Brand
    </section>
    <section
      class="col-span-3 border-r flex flex-col justify-center items-center"
    >
      {{ firstProduct.productBrand }}
    </section>
    <section class="col-span-3 self-center text-center">
      {{ secondProduct.productBrand }}
    </section>
  </section>
  <section class="grid grid-cols-7 border row-span-2">
    <section class="border-r flex flex-col justify-center items-center">
      Processor
    </section>
    <ng-container *ngIf="productAttr | async as attr">
      <ng-container *ngIf="attr[0]">
        <span class="col-span-3 border-r flex flex-col justify-center items-center" *ngFor="let option of attr[0].options['Processor']">
          {{ option.name }},
        </span>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="productAttr | async as attr">
      <ng-container *ngIf="attr[1]">
        <span class="col-span-3 border-r flex flex-col justify-center items-center" *ngFor="let option of attr[1].options['Processor']">
          {{ option.name }},
        </span>
      </ng-container>
    </ng-container>
  </section>
  <section class="grid grid-cols-7 border row-span-5">
    <section class="border-r flex flex-col justify-center items-center">
      Description
    </section>
    <section
      class="col-span-3 border-r flex flex-col justify-center items-center"
    >
      {{ firstProduct.productDescription }}
    </section>
    <section
      class="col-span-3 border-r flex flex-col justify-center items-center"
    >
      {{ secondProduct.productDescription }}
    </section>
  </section>
  <section class="grid grid-cols-7 row-span-5">
    <section class="">
      
    </section>
    
    <button
    (click)="navigateToConfigure(firstProduct.id)"
      class="col-span-3 bg-figma-green rounded-md  text-white w-96 mx-auto py-2 my-2"
    >
      Configure
  </button>
    <button
      (click)="navigateToConfigure(secondProduct.id)"
      class="col-span-3 bg-figma-green rounded-md  text-white w-96 mx-auto py-2 my-2"
    >
      Configure
  </button>
  </section>
</main>
