<main class="max-w-[1239px] mx-auto mt-[66px]">
  <header class="flex justify-between mb-6">
    <h2 class="text-2xl font-bold">Compare Servers</h2>
    <button class="text-sm text-red-600 underline">Clear selections</button>
  </header>
  <section class="flex">
    <div class="flex flex-col w-[211px] border">
      <div class="row h-[241px]">
        <p>Products</p>
      </div>
      <div class="row h-[147px]">
        <p>Description</p>
      </div>
      <div class="row h-[39px]">
        <p>Case</p>
      </div>
      <div class="row h-[39px]">
        <p>Graphics Card</p>
      </div>
      <div class="row h-[39px]">
        <p>Motherboard</p>
      </div>
      <div class="row h-[39px]">
        <p>RAM</p>
      </div>
      <div class="row h-[39px]">
        <p>Storage</p>
      </div>
      <div class="row h-[39px] !border-b-0">
        <p>Operating System</p>
      </div>
    </div>
  </section>
</main>
