<main class="max-w-[1239px] mx-auto mt-[66px]">
  <h1 class="text-2xl font-bold">Shopping Cart</h1>
  <ng-container *ngIf="cartItems | async as cartProducts">
    <section
      *ngIf="cartProducts.length === 0; else has_cartItems"
      class="mt-14 text-center"
    >
      <img class="mx-auto" src="/assets/cart-empty.svg" alt="cart is empty" />
      <h2 class="font-[500] text-[32px]">Cart empty</h2>
      <article class="flex flex-col mt-4 text-[#838282] text-2xl">
        <p>Your cart is empty</p>
        <p>Start adding items to enjoy shopping!</p>
      </article>
    </section>
    <ng-template #has_cartItems>
      <section class="grid grid-cols-5 mt-[39px]">
        @for (cartItem of cartProducts; track cartItem) {
        <section class="flex flex-col col-span-3 gap-6 max-h-[708px]">
          <app-cart-product-item [product]="cartItem" (quantityEmitter)="getQuantityOfProduct($event, cartItem)" [limit]="cartItem.stock"/>
        </section>
        <div class="col-span-2 ml-auto">
          <app-summary [cartItem]="cartItem" [quantity]="quantity" title="Cart Summary" page="cart"/>
        </div>
      }
      </section>
    </ng-template>
  </ng-container>
  <section class="mt-[141px]">
    <h2 class="text-xl font-bold mb-[43px]">Recommended Servers</h2>
    <app-recommended-products />
  </section>
</main>
