<main class="max-w-[1239px] mx-auto md:mt-[66px] mt-[12px]">
  <h1 class="text-2xl font-bold md:inline hidden">Shopping Cart</h1>
  <ng-container *ngIf="cartItems | async as cartProducts">
    <section
      *ngIf="cartProducts.length === 0; else has_cartItems"
      class="mt-14 text-center"
    >
      <img class="hidden md:block mx-auto" src="/assets/cart-empty.svg" alt="cart is empty" />
      <h2 class="font-[500] text-[32px] hidden md:block">Cart empty</h2>
      <div class="md:hidden mx-3 bg-[#f5f5f8] p-8 rounded-md">
        <h3 class="text-2xl font-bold">Your cart is empty</h3>
          <p class="">We noticed your cart is empty. Need some shopping inspiration? Check out our featured products</p>
          <button routerLink="/servers" class="bg-figma-green bg-opacity-80 hover:bg-opacity-100 text-white px-4 py-1.5 text-lg rounded mt-2">
            Fill your cart
          </button>
      </div>
      <article class="hidden md:flex flex-col mt-4 text-[#838282] text-2xl">
        <p>Your cart is empty</p>
        <p>Start adding items to enjoy shopping!</p>
        <button routerLink="/servers" class="flex items-center justify-center px-3 py-1 rounded-md mx-auto mt-3 w-fit gap-2 text-white bg-figma-green bg-opacity-80 hover:bg-opacity-100 text-lg">
          <span class="font-inter">Fill your cart</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
            
        </button>
      </article>
    </section>
    <ng-template #has_cartItems>
      <section class="md:grid md:grid-cols-5 mt-[39px] px-3 md:px-0">
        <h2 class="md:hidden text-3xl font-extrabold w-full border-b pb-3 mb-3">Cart</h2>
        @for (cartItem of cartProducts; track cartItem) {
        <section class="flex flex-col col-span-3 gap-6 max-h-[708px]">
          <app-cart-product-item [product]="cartItem" (quantityEmitter)="getQuantityOfProduct($event, cartItem)" [limit]="cartItem.stock"/>
        </section>
        <div class="col-span-2 md:ml-auto md:mt-0 mt-6">
          <app-summary [cartItem]="cartItem" [quantity]="quantity" title="Cart Summary" page="cart"/>
        </div>
      }
      </section>
    </ng-template>
  </ng-container>
  <section class="md:mt-[141px] mt-12">
    <h2 class="hidden md:block text-xl font-bold mb-[43px] px-3 md:px-0">Recommended Servers</h2>
    <h2 class="md:hidden text-3xl font-bold mb-6 px-3 md:px-0"><span class="block">Customers Also</span> Bought</h2>
    <app-recommended-products />
  </section>
</main>
