<form class="md:p-0 px-4 md:w-[500px] mx-auto flex flex-col items-center gap-4">
  <p class="mt-4">We have sent you a One Time Password on your mobile</p>
  <app-countdown [timeInMinutes]="5"/>
  <ng-otp-input [formCtrl]="otp" [config]="{ length: 5 }"></ng-otp-input>
  <p>
    Didn't receive OTP? <button class="font-semibold underline">Resend</button>
  </p>
  <div class="[&_button]:px-5" >

      <button class="bg-figma-green rounded-lg text-white px-5 py-2">
        Verify Email
      </button>
  </div>
</form>
