<main class="relative min-h-screen">
   <app-header />
   <section class="md:pb-[330px] mt-5 pb-[770px] w-full max-w-[1240px] px-4 mx-auto">
      <ng-container *ngIf="product$ | async as product">
         <div class="text-[13px] font-normal flex flex-row gap-1 items-center text-[#999999]">
            <span [routerLink]="['/']" class="hover:underline cursor-pointer hover:text-green-600">Home</span>
            <img alt="chevron-nav" src="/assets/chevron-nav.svg" />
            <span [routerLink]="['/product']" [replaceUrl]="true" class="hover:underline cursor-pointer hover:text-green-600">Product</span>
            <img alt="chevron-nav" src="/assets/chevron-nav.svg" />
            <span class="text-[13px]">{{ product.productName || '...' }}</span>
            <img alt="chevron-nav" src="/assets/chevron-nav.svg" />
            <span class="text-green-600">Configure</span>
         </div>

         <div>{{ loading ? "loading..." : ""}}</div>

         <div class="w-full mt-10 flex gap-[97px] flex-row flex-wrap mx-auto justify-between items-start">
            <div class="flex flex-col lg:flex-row items-start gap-4 flex-1 w-full">
               <div class="flex flex-row lg:flex-col gap-[49px] items-center">
                  <div *ngFor="let image of product.imageUrl; let i = index"
                     class="border-[2px] hover:border-[#3CB043] border-[#E6E6E6] rounded-lg w-full max-w-[130px] p-4">
                     <img [src]="image" alt="Product Image {{ i + 1 }}" class="w-full" />
                  </div>
               </div>
               <div
                  class="max-w-[690px] min-w-[200px] w-full max-h-[480px] flex flex-row items-center h-full border-[2px] border-[#E6E6E6] rounded-lg p-2">
                  <img [src]="product.coverImage" alt="Product coverImage"
                     class="max-h-[360px] max-w-[548px] w-full h-full" />
               </div>
            </div>

            <div class="max-w-md flex flex-col gap-6 w-full">
               <div class="flex flex-col gap-[20px]">
                  <h2 class="font-bold text-[20px]">{{ product.productName }}</h2>
                  <p class="text-[13px] font-normal">{{ product.productDescription }}</p>

                  <div class="flex flex-col gap-3 w-full max-w-md mt-5">
                     <div class="flex flex-row items-center w-full justify-between">
                        <h1 class="text-xs font-light text-[#737373] w-1/2">Brand : </h1>
                        <p class="text-[13px] font-light text-[#000] w-1/2">{{ product.productBrand }}</p>
                     </div>
                     <div *ngFor="let option of productConfigItem.configured"
                        class="flex flex-row items-center w-full justify-between">

                        <h1 class="text-[13px] font-light text-[#737373] w-1/2">{{ option.optionType }} : </h1>
                        <p class="text-[13px] font-light text-[#000] w-1/2">{{ option.optionName }} <span>{{ option?.isMeasured ?
                              option?.size : ""}}</span></p>
                     </div>
                  </div>

                  <div class="w-full flex-row items-center flex-wrap mx-auto justify-start gap-8 mt-5 flex">
                     <div class="font-medium text-sm">
                        <label class="flex flex-row gap-3">
                           <input name="bring-in-warranty" [checked]="warranty" (change)="onOptionChange(true)"
                              class="text-[#3CB043] border-[1px] border-[#3CB043]" type="checkbox" name="warranty" />
                           <span>Bring-in warranty for 36 months</span>
                        </label>
                     </div>

                     <div class="font-medium text-sm">
                        <label class="flex flex-row gap-3">
                           <input [checked]="!warranty" (change)="onOptionChange(false)" name="pick-up-warranty"
                              type="checkbox" />
                           <span>Pick Up warranty</span>
                        </label>
                     </div>
                  </div>

                  <div class="w-full p-4 rounded-lg bg-gray-300 bg-opacity-10">
                     <div class="font-normal text-sm">
                        Technical support: by e-mail and components or the whole system
                        will be repaired or replaced subsequently to reshipment, we will
                        pay the costs for transport and logistics within 30 days after
                        delivery.
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </ng-container>



      <div class="w-full flex gap-4 mb-20 flex-row flex-wrap mx-auto justify-between items-start">
         <div class="flex-1 w-full">
            <div class="mb-5 mt-10">
               <h2 class="text-xl font-bold">Configurations</h2>
            </div>
            <ng-container *ngIf="productConfig$ | async as productConfig">
               <nav class="w-full max-w-4xl" mat-tab-nav-bar [tabPanel]="tabPanel">
                  <a *ngFor="let attribute of configKeys; let i = index" [active]="activeLink === attribute"
                     (click)="setActiveLink(attribute)" mat-tab-link>
                     <div class="flex items-center gap-3">
                        <p class="mt-0.5">{{ attribute }}</p>
                     </div>
                  </a>
               </nav>

               <mat-tab-nav-panel #tabPanel>
                  <div class="flex flex-row flex-wrap items-center gap-4 mt-10">
                     @if(isActiveLinkMeasured(activeLink)) {
                      <div class="w-full">
                        <button
                        (click)="resetDefault(activeLink)"
                        class="hover:underline cursor-pointer mb-4 flex flex-row gap-2 items-center text-sm text-[#3CB043]">
                           <span>Reset to default </span>
                           <span>
                              <img 
                              src="/assets/reset.svg"
                              alt="reset default"
                              />
                           </span>
                        </button>
                         <div class="flex flex-row w-full justify-start gap-[90px]">
                           <div class="relative max-w-[247px] w-full">
                            <select
                            title="select-option"
                            #selectConfig
                               (change)="onSizeableOptionChange({ type: activeLink, id: selectConfig.value, size: selectSize.value })"
                               class="p-2 border-[2px] pl-4 pr-8 border-[#E8EAEB] focus:outline-none rounded-md w-full flex-1 max-w-lg appearance-none"
                            >
                               <option [value]="attributeProduct.id"
                                  *ngFor="let attributeProduct of productConfig.options[activeLink]">
                                  {{ attributeProduct.name }}
                               </option>
                            </select>
                            <div class="absolute inset-y-0 right-0 flex items-center pr-4 pointer-events-none">
                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M4 6.66602L7.5286 10.1946C7.78894 10.455 8.21105 10.455 8.4714 10.1946L12 6.66602" stroke="#1B1D1F" stroke-width="1.33333" stroke-linecap="round"/>
                                 </svg>
                           </div>
                           </div>
   
                           <div class="flex flex-row items-center gap-[54px] w-full">
                            <div class="relative max-w-[247px] w-full">
                              <select
                                title="select-size"
                                #selectSize
                                (change)="onSizeableOptionChange({ type: activeLink, id: selectConfig.value, size: selectSize.value })"
                                class="p-2 border-[2px] border-[#E8EAEB] focus:outline-none text-gray-700 pl-4 rounded-md w-full flex-1 max-w-lg pr-8 appearance-none"
                              >
                                <option class="hover" [value]="sizes" *ngFor="let sizes of generateStorageSizes(productConfig.options[activeLink])">
                                  {{ sizes }} {{ unit}}
                                </option>
                              </select>
                              <div class="absolute inset-y-0 right-0 flex items-center pr-4 pointer-events-none">
                                 <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6.66602L7.5286 10.1946C7.78894 10.455 8.21105 10.455 8.4714 10.1946L12 6.66602" stroke="#1B1D1F" stroke-width="1.33333" stroke-linecap="round"/>
                                    </svg>
                              </div>
                            </div>
                            
                            <div class="font-medium text-[20px]">
                              ${{isMeasuredPriceMapper[activeLink] || "0"}}
                            </div>
                           </div>

                         </div>
                         
                      </div>

                     }
                     @else {
                        <div class="w-full">
                           <button
                           (click)="resetDefault(activeLink)"
                           class="hover:underline cursor-pointer mb-4 flex flex-row gap-2 items-center text-sm text-[#3CB043]">
                              <span>Reset to default </span>
                              <span>
                                 <img 
                                 src="/assets/reset.svg"
                                 alt="reset default"
                                 />
                              </span>
                           </button>
                           <div class="w-full flex flex-row flex-wrap gap-[70px]">
                     <div *ngFor="
                        let attributeProduct of productConfig.options[activeLink];
                        let i = index
                      ">
                        <div
                           (click)="updateConfigQueryParam({ type: attributeProduct.type, id: attributeProduct.id, size: attributeProduct.baseAmount || 0})"
                           class="cursor-pointer border-[2px] relative hover:border-[#3CB043] {{ isActiveSelectedOption({ type: attributeProduct.type, id: attributeProduct.id, size: attributeProduct.baseAmount }) ? 'border-green-600 border-2' : '' }} flex flex-col border-[#E6E6E6] rounded-lg w-[190px] h-[170px] p-4">
                           <img
                           title="attribute-check"
                              *ngIf="isActiveSelectedOption({ type: attributeProduct.type, id: attributeProduct.id, size: attributeProduct.baseAmount})"
                              src="/assets/option.svg" [alt]="attributeProduct.id"
                              class="absolute top-0 right-0 transform translate-x-1/3 -translate-y-1/3" />
                           
                           <div class="w-full flex flex-row items-center justify-center max-h-[140px] h-full">
                              <img title="attribte-media" [src]="attributeProduct.media" [alt]="attributeProduct.media" class="w-24 h-24" />
                           </div>
                           <div>
                              <div class="font-bold text-[13px]">{{ attributeProduct.name }}</div>
                              <div class="font-semibold text-[16px]">
                                 $ {{ attributeProduct.price }}
                              </div>
                           </div>
                        </div>
                        </div>
                        </div>
                     </div>

                     }
                  </div>
               </mat-tab-nav-panel>
            </ng-container>
         </div>


         <div
            class="border-[1px] w-full flex-1 h-[327px] max-w-md mt-5 flex flex-col p-4 border-dashed rounded-xl justify-between border-[#E6E6E6]">
            <div class="w-full gap-4 flex flex-col">
               <h2 class="font-semibold text-lg">Order Summary</h2>
               <span class="flex flex-row justify-between w-full items-center">
                  <span class="text-xs font-normal">{{ productConfigItem.productName }}</span>
                  <span class="font-medium text-xs">$ {{productConfigItem.productPrice}}</span>
               </span>
               <span class="flex flex-row justify-between w-full items-center">
                  <span class="text-xs font-normal">Configurations</span>
                  <span class="font-medium text-xs">$ {{productConfigItem.configuredPrice}}</span>
               </span>
            </div>

            <div class="w-full gap-4 flex flex-col">
               <span class="flex flex-row justify-between w-full items-center">
                  <span class="text-xs font-[400px]">Total(2)</span>
                  <span class="font-medium text-xs">$ {{productConfigItem.totalPrice}}</span>
               </span>
               <span class="flex flex-row justify-between w-full items-center">
                  <span class="text-xs font-normal">(Incl. VAT)</span>
                  <span class="font-medium text-xs">{{productConfigItem.vat}}</span>
               </span>
               <button class="bg-[#3CB043] hover:bg-green-500 w-full p-2 rounded-xl text-white font-[500px] text-[20px]">
                  Add to cart
               </button>
            </div>
         </div>
      </div>
   </section>
   <app-footer />
</main>