<main class="flex flex-col gap-4">
  <section class="flex w-full justify-between">
    <h2 class="font-bold text-xl">All Products</h2>
    <button
      routerLink="/admin/add-product"
      class="flex items-center gap-2 rounded font-[500] bg-figma-green text-white text-sm py-1 px-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        data-slot="icon"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      <p>Add Product</p>
    </button>
  </section>
  <section
    class="grid gap-4 grid-flow-row lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1"
  >
    <ng-container
      *ngIf="{ products: products | async, total: total | async } as products"
    >
      <ng-container *ngIf="products.products && products.total">
        @for (product of products.products| paginate: { id: 'server',
        itemsPerPage: 9, currentPage: page, totalItems: products.total}; track
        product) {
        <app-product-item [product]="product" />
        }
      </ng-container>
    </ng-container>
  </section>
  <pagination-template
    #p="paginationApi"
    class="flex gap-3"
    (pageChange)="getPage($event)"
    id="server"
    rounded-md
    (pageBoundsCorrection)="getPage($event)"
  >
    <button
      [ngClass]="p.isFirstPage() ? 'pointer-events-none text-gray-200' : ''"
      class="flex flex-col justify-center items-center w-10 h-10 border rounded-md"
      (click)="p.previous()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"
        />
      </svg>
    </button>

    <div
      *ngFor="let page of p.pages"
      [class.current]="p.getCurrent() === page.value"
    >
      <button
        class="w-10 h-10 font-bold border rounded-md"
        (click)="p.setCurrent(page.value)"
        *ngIf="p.getCurrent() !== page.value"
      >
        <span>{{ page.label }}</span>
      </button>
      <button
        class="w-10 h-10 font-bold border rounded-md"
        [ngClass]="
          p.getCurrent() === page.value
            ? 'text-figma-green bg-figma-green bg-opacity-5 border-figma-green'
            : ''
        "
        *ngIf="p.getCurrent() === page.value"
      >
        <span>{{ page.label }}</span>
      </button>
    </div>

    <button
      class="flex flex-col justify-center items-center w-10 h-10 border rounded-md"
      [ngClass]="p.isLastPage() ? 'pointer-events-none text-gray-200' : ''"
      (click)="p.next()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>
    </button>
  </pagination-template>
</main>
