<main class="relative px-5 py-4">
  <header class="flex items-center justify-between w-full">
    <h1 class="text-2xl font-[600] font-inter">{{ editId ? 'Edit Attribute' : 'Create Attribute'}}</h1>
    <button mat-dialog-close type="button">
      <img src="/assets/close.svg" alt="close button" />
    </button>
  </header>
  <form
    [formGroup]="attributeForm"
    (ngSubmit)="addAttribute()"
    class="flex flex-col"
  >
    <div class="flex justify-between items-baseline">
      <div class="w-[60%]">
        <app-custom-input
          id="attributeName"
          label="Attribute Name"
          type="text"
          placeholder="Enter attribute name"
          formControlName="attributeName"
          [isRequired]="true"
        />
      </div>
      <div class="flex flex-col w-[30%]">
        <app-custom-check-box
          name="productType"
          class="font-[500]"
          label="Has measurement"
          formControlName="isMeasured"
          (changeHandler)="modifyValidator()"
        />
        @if (isMeasured.value) {
        <app-custom-select
          [control]="$any(attributeForm.controls['unit'])"
          [options]="['KB', 'GB', 'TB']"
          [isRequired]="true"
        />
        }
      </div>
    </div>
    <div class="flex justify-between ">
      <div class="w-[60%]">
        <app-custom-input
          id="description"
          label="Description"
          type="textarea"
          placeholder="Enter description"
          formControlName="description"
        />
      </div>
      <div class="w-[30%] mt-10">
          <app-custom-check-box
            name="isRequired"
            class="font-[500]"
            label="Make Attribute Required"
            formControlName="isRequired"
          />
      </div>
    </div>
    
    <button
      (click)="addAttributeForm()"
      type="button"
      class="flex items-center text-figma-green gap-1 self-end"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="21"
        viewBox="0 0 21 21"
        fill="none"
      >
        <path
          d="M16.3337 11.3346H11.3337V16.3346H9.66699V11.3346H4.66699V9.66797H9.66699V4.66797H11.3337V9.66797H16.3337V11.3346Z"
          fill="#3CB043"
        />
      </svg>
      <p class="text-xs font-inter underline">Add new variant</p>
    </button>
    <section>
      <table class="flex flex-col w-full mt-6">
        <tr
          class="flex items-center text-table-text bg-table-bg text-xs font-[500] border-b h-10"
        >
          <th
            class="overflow-hidden whitespace-nowrap text-ellipsis text-gray-500 w-[15%] text-center"
          >
            Image
          </th>
          <th
            class="overflow-hidden whitespace-nowrap text-ellipsis text-gray-500 w-[15%] text-center"
          >
            Brand
          </th>
          <th
            class="overflow-hidden whitespace-nowrap text-ellipsis text-gray-500 w-[15%] text-center"
          >
            Model
          </th>
          @if (isMeasured.value) {
          <th
            class="overflow-hidden whitespace-nowrap text-ellipsis text-gray-500 w-[15%] text-center"
          >
            Base Amount
          </th>
          } @if (isMeasured.value) {
          <th
            class="overflow-hidden whitespace-nowrap text-ellipsis text-gray-500 w-[15%] text-center"
          >
            Max Amount
          </th>
          }
          <th
            class="overflow-hidden whitespace-nowrap text-ellipsis text-gray-500 w-[15%] text-center"
          >
            Price
          </th>
          <th
            class="overflow-hidden whitespace-nowrap text-ellipsis text-gray-500 w-[15%] text-center"
          >
            SKU
          </th>
          @if (isMeasured.value) {
          <th
            class="overflow-hidden whitespace-nowrap text-ellipsis text-gray-500 w-[15%] text-center"
          >
            Price Factor
          </th>
          }
          <th
            class="overflow-hidden whitespace-nowrap text-ellipsis text-gray-500 w-[10%] flex justify-center text-center"
          >
            Action
          </th>
        </tr>
        <div
          formArrayName="attributes"
          class="border-b"
          *ngFor="let attrs of attributes.controls; let i = index"
        >
          <ng-container [formGroupName]="i">
            <tr class="flex items-center h-10">
              <td class="text-gray-500 font-[500] text-sm w-[15%] text-center">
                <div class="flex items-center justify-center gap-2">
                  <button type="button">
                    <ng-container *ngIf="loadingStatus$ | async as loadingStatus;">
                      @if (loadingStatus.status) {
                          <app-auth-loader size="small" [loadingState]="loadingStatus$" />
                      } @else {
                        <app-custom-image
                          formControlName="media"
                          [elementId]="attrs.value.id + ' coverImage'"
                          containerClass="relative flex flex-col items-center justify-center h-full"
                          customClass="flex flex-col h-[50%] xl:h-[60%]"
                          previewClass="w-[33px] h-5"
                          [editId]="editId"
                          [previewImage]="coverImage[i] || null"
                          (removeImageEmitter)="removeImage($event, i)"
                          (uploadImageEmitter)="
                            replaceImage(
                              $event,
                              attrs.value.id,
                              attributes.at(i),
                              i
                            )
                          "
                        >
                          <label
                            [for]="'#' + attrs.value.id + ' coverImage'"
                            class="flex items-center gap-3 text-figma-green"
                          >
                            <img src="/assets/upload-cloud.svg" alt="upload" />
                            <p
                              class="text-ellipsis overflow-hidden whitespace-nowrap"
                            >
                              Upload cover
                            </p>
                          </label>
                        </app-custom-image>
                      }
                    </ng-container>
                  </button>
                </div>
              </td>
              <td class="text-gray-500 font-[500] text-sm w-[15%] text-center">
                <input
                    class="w-full outline-none text-center placeholder:text-placeholder"
                    type="text"
                    placeholder="Brand name"
                    formControlName="brand"
                  />
              </td>
              <td class="text-gray-500 font-[500] text-sm w-[15%] text-center">
                <input
                    class="w-full outline-none text-center placeholder:text-placeholder"
                    type="text"
                    placeholder="Model name"
                    formControlName="name"
                  />
              </td>
              @if (isMeasured.value) {
              <td class="text-gray-500 font-[500] text-sm w-[15%] text-center">
                <input
                  class="w-full outline-none text-center placeholder:text-placeholder"
                  type="number"
                  placeholder="Base amount"
                  formControlName="baseAmount"
                />
              </td>
              } @if (isMeasured.value) {
              <td class="text-gray-500 font-[500] text-sm w-[15%] text-center">
                <input
                  class="w-full outline-none text-center placeholder:text-placeholder"
                  type="number"
                  placeholder="Max amount"
                  formControlName="maxAmount"
                />
              </td>
              }
              <td class="text-gray-500 font-[500] text-sm w-[15%] text-center">
                <input
                  class="w-full outline-none text-center placeholder:text-placeholder"
                  type="number"
                  placeholder="Price"
                  formControlName="price"
                />
              </td>
              <td class="text-gray-500 font-[500] text-sm w-[15%] text-center">
                <input
                  class="w-full outline-none text-center placeholder:text-placeholder"
                  type="number"
                  placeholder="SKU"
                  formControlName="inStock"
                />
              </td>
              @if (isMeasured.value) {
              <td class="text-gray-500 font-[500] text-sm w-[15%] text-center">
                <input
                  class="w-full outline-none text-center placeholder:text-placeholder"
                  type="number"
                  placeholder="Price factor"
                  formControlName="priceFactor"
                />
              </td>
              }
              <td
                class="text-gray-500 font-[500] text-sm w-[10%] flex justify-center items-center"
              >
                <button type="button" (click)="deleteOption(i, attrs.value.id)">
                  <img src="/assets/trash.svg" alt="" />
                </button>
              </td>
            </tr>
            <app-incompatibles [incompatibleAttributeOptions]="incompatibleVariants" (incompatibleVariantsEmitter)="getIncompatibleAttributeOptions($event)"/>
          </ng-container>
        </div>
      </table>
    </section>
    <section class="flex items-center justify-end mt-10 gap-6 text-sm">
      <button
        type="submit"
        class="border border-figma-green bg-figma-green text-white rounded w-32 py-1 tracking-wider"
      >
        {{ editId ? 'Save Changes' : 'Save' }}
      </button>
      <button
        type="button"
        (click)="dialogRef.close()"
        class="border border-figma-green text-figma-green rounded w-32 py-1 tracking-wider"
      >
        Cancel
      </button>
    </section>
  </form>
</main>
