<form [formGroup]="reasonForm" (ngSubmit)="cancelShipment()" class="flex flex-col px-6 pb-4">
  <app-custom-input
    id="reason"
    label="Reason"
    type="textarea"
    placeholder="Please enter a reason for cancelling this order"
    formControlName="reason"
  />

  <section class="flex justify-between ">
    <button
      type="button"
      (click)="closeDialog()"
      class="w-[170px] py-[10px] rounded-lg border border-[#D0D5DD]"
    >
      Cancel
    </button>
    <button
      
      class="w-[170px] py-[10px] rounded-lg bg-figma-green text-white"
    >
      Submit
    </button>
  </section>
</form>
