<div
class="border-[1px] flex-1 h-[327px] max-w-[486px] w-[486px] mt-5 flex flex-col p-4 border-dashed rounded-xl justify-between border-[#E6E6E6]">
<div class="w-full gap-4 flex flex-col">
   <h2 class="font-semibold text-lg">Order Summary</h2>
   <span class="flex flex-row justify-between w-full items-center">
      <span class="text-xs font-normal">{{ productConfigItem.productName }}</span>
      <span class="font-medium text-xs">$ {{productConfigItem.productPrice}}</span>
   </span>
   <span class="flex flex-row justify-between w-full items-center">
      <span class="text-xs font-normal">Configurations</span>
      <span class="font-medium text-xs">$ {{productConfigItem.configuredPrice}}</span>
   </span>
</div>

<div class="w-full gap-4 flex flex-col">
   <span class="flex flex-row justify-between w-full items-center">
      <span class="text-xs font-normal">(Incl. VAT)</span>
      <span class="font-medium text-xs">{{productConfigItem.vat}}</span>
   </span>
   <span class="flex flex-row justify-between w-full items-center">
      <span class="text-xs font-[400px]">Total(2)</span>
      <span class="font-medium text-xs">$ {{productConfigItem.totalPrice}}</span>
   </span>
   <button 
   (click)="addProductToCart()"
   class="bg-[#3CB043] hover:bg-green-500 w-full p-2 rounded-xl text-white font-[500px] text-[20px]">
      <div *ngIf="loader$ | async as loading; else cart" >
         @if (loading) {
            <img 
            alt="product spinner"
            src="/assets/spinner.svg"
            class="w-8 h-8 text-white"
           />
         }
      </div>
   </button>
</div>
</div>

<ng-template #cart>
   Add to Cart
</ng-template>