<main>
  <header>
    <h2 class="font-bold text-xl pb-12 px-12 pt-6 bg-[#fbfbfb]">Settings</h2>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="">
      @for (link of navLinks; track link.label) {
      <a
        mat-tab-link
        (click)="activeLink = link"
        [active]="activeLink.label === link.label"
        [routerLink]="link.link"
      >
        {{ link.label }}</a
      >
      }
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <section
        class="flex flex-col items-center md:items-start divide-y md:divide-y-0 md:flex-row justify-around gap-6 py-8 md:gap-48 md:p-16 overflow-hidden"
      >
        <div class="flex flex-col gap-4 items-center">
          <app-user-profile-image />
          <div>
            <p class="text-lg font-bold text-center">{{firstName}} {{lastName}}</p>
            <div class="flex flex-col gap-2">
              <button (click)="accountLogout()" class="text-sm underline"> logout </button>
              @if (isAdmin) {
                <button class="text-sm underline" routerLink="/admin">Go to Admin Dashboard</button>
              }
            </div>
          </div>
          <button class="underline text-red-600">Delete Account</button>
        </div>
        <div class="hidden md:inline h-96 border bg-black">

        </div>
        <div class="w-[90%] md:w[80%] xl:w-[40%]">
          <router-outlet />
        </div>
      </section>
    </mat-tab-nav-panel>
  </header>
</main>
