<ng-container *ngIf="shippingInfoForm$ | async"></ng-container>
<app-loader loaderId="master" [useDefaultOverlay]="true" [text]="loaderText" />
<ng-container *ngIf="loadingStatus | async as loadingState">
  <ng-container *ngIf="!loadingState.isError"> </ng-container>
  <ng-container *ngIf="loadingState.message">
    <app-error [message]="loadingState.message" [visible]="true" />
  </ng-container>
</ng-container>
<main class="max-w-[1239px] mx-auto mt-[66px]">
  <h1 class="text-2xl font-bold mb-11">Check Out</h1>
  <app-custom-stepper customClass="w-[436px]" [price]="amountToPay" #cdkStepper linear>
    <section>
      <ng-container *ngIf="cartItems | async as cartItems">
        <cdk-step [stepControl]="shippingForm" label="Details" [editable]="!(cdkStepper.selectedIndex === 2)">
          <section class="flex gap-6">
            <div class="flex-1">
              <h5 class="text-sm font-bold">Details</h5>
              <form
                [formGroup]="shippingForm"
                (ngSubmit)="userDetails()"
                class="grid grid-cols-2 gap-x-[35px]"
              >
                <app-custom-input
                  id="firstName"
                  label="First Name"
                  type="text"
                  placeholder="Enter your first name"
                  formControlName="firstName"
                />
                <app-custom-input
                  id="lastName"
                  label="Last Name"
                  type="text"
                  placeholder="Enter your last name"
                  formControlName="lastName"
                />

                <app-custom-input
                  id="email"
                  label="Email"
                  type="email"
                  placeholder="Enter your email"
                  formControlName="email"
                />
                <app-address [control]="shippingForm.controls['address1']" (addressEmitter)="getAddress($event)"/>
                <app-custom-input
                  id="address2"
                  label="Address 2"
                  type="text"
                  placeholder="Address 2"
                  formControlName="address2"
                />

                <app-custom-input
                  id="country"
                  label="Country"
                  type="text"
                  placeholder="Enter name of country"
                  formControlName="country"
                />
                <app-custom-input
                  id="state"
                  label="State"
                  type="text"
                  placeholder="Enter name of state"
                  formControlName="state"
                />
                <app-custom-input
                  id="city"
                  label="City"
                  type="text"
                  placeholder="Enter name of city"
                  formControlName="city"
                />
                <app-custom-input
                  id="zipCode"
                  label="Zip Code"
                  type="number"
                  placeholder="Enter your zip code"
                  formControlName="zipCode"
                />
                <div>
                  <label class="flex flex-col gap-0.5 mt-4" for="contact">
                    <span class="">Contact</span>
                    <input
                      id="contact"
                      [ngClass]="showWarning ? 'border-red-600' : ''"
                      type="tel"
                      class="flex border-[1.5px] w-full placeholder:text-figma-gray outline-none px-4 py-2 rounded-md"
                      #telInput
                      formControlName="contact"
                    />
                  </label>
                  @if (showWarning !== '') {
                  <span class="text-red-600 text-sm">{{ showWarning }}</span>
                  }
                </div>
              </form>

              <div class="flex justify-between mt-4">
                <app-custom-check-box
                  name="save-form"
                  label="Save this information for next time"
                  class="text-table-text text-sm"
                  customClass="w-full"
                />
                <button
                  type="button"
                  (click)="clearShippingForm()"
                  class="text-xs text-red-color underline"
                >
                  Clear form
                </button>
              </div>
            </div>

            <app-summary
              [cartItem]="cartItems[0]"
              title="Order Summary"
              page="checkout"
              (subTotalEmitter)="getSubtotal($event)"
            />
          </section>
        </cdk-step>
        <cdk-step [completed]="paymentComplete" label="Payment Method" [editable]="!(cdkStepper.selectedIndex === 2)">
          <section class="flex gap-6">
            <div class="flex-1">
              <h5 class="text-sm font-bold">Payment Method</h5>
              @if (amountToPay) {
              <app-payment-details
                page="checkout"
                [amountToPay]="amountToPay"
              />
              }
            </div>
            <app-summary
              [cartItem]="cartItems[0]"
              (subTotalEmitter)="getSubtotal($event)"
              title="Order Summary"
              page="checkout"
            />
          </section>
        </cdk-step>
      </ng-container>
      <cdk-step label="Track Order">
          <ng-container *ngIf="verification$ | async as verification">
          <section class="flex flex-col items-center justify-center">
            <img src="/assets/checkout.svg" alt="tracking your order" />
            <div class="flex flex-col items-center justify-center mt-[39px]">
              <p class="font-bold text-2xl">Thank You</p>
              <p class="text-[13px]">Order Confirmed</p>
              <p class="text-[#737373] text-[13px] mb-[44px]">{{verification.trackingId}}</p>
            </div>
            <a
              [href]="verification.trackingUrl"
              class="bg-figma-green hover:bg-green-500 text-center w-[469px] p-[9px] rounded-xl text-white font-[500px] text-[20px]"
            >
              Track Order
          </a>
          </section>
        </ng-container>
        </cdk-step>

    </section>
  </app-custom-stepper>
  @if (cdkStepper.selectedIndex !== 2) {

  <div class="flex gap-[19px] mt-6">
    <button
      (click)="previous()"
      [ngClass]="
        cdkStepper.selectedIndex !== 0
          ? 'text-figma-green border-figma-green'
          : 'text-placeholder'
      "
      class="border font-bold w-[120px] rounded-[7px] h-[34px]"
    >
      Previous
    </button>
    <button
      (click)="next()"
      class="border font-bold w-max min-w-[120px] px-[19px] rounded-[7px] h-[34px] bg-figma-green text-white"
    >
      @if (cdkStepper.selectedIndex === 1) {
      <span>Pay {{ amountToPay | currency }} </span>
      } @else {
      <span>Next</span>
      }
    </button>
  </div>
  }
</main>
