<app-auth-loader [loadingState]="loadingState$"/>
<form
  novalidate
  [formGroup]="resetForm"
  (ngSubmit)="sendResetLink()"
  class="md:p-0 px-4 md:w-[500px] mx-auto w-full"
>
  <app-custom-input
    id="email"
    label="Email"
    type="email"
    placeholder="Enter your email"
    formControlName="email"
  />
  @if (email?.invalid && (email?.touched || email?.dirty)) {
  <span class="text-red-600">Please enter a valid email</span>
  }
  <app-custom-button
    buttonText="Send reset link"
    [disableButton]="this.resetForm.invalid"
  />
  <p class="text-center mt-6">
    Didn't receive link?
    <a
      class="font-semibold underline"
      >Resend link</a
    >
  </p>
</form>
