<section (mouseleave)="toggleMenu(false)">
  <header
    class="hidden md:block relative overflow-hidden shadow-md py-2 mb-2 z-50 bg-white"
    (mouseenter)="toggleMenu(false)"
  >
    <nav
      class="flex items-center max-w-[1239px] w-full px-14 lg:px-0 mx-auto 2xl:px-0"
    >
      <a class="h-12 mr-[46px]" routerLink="/">
        <img src="/assets/logo.svg" alt="logo at header" />
      </a>
      <div
        [ngClass]="showSearch ? '' : 'justify-between'"
        class="flex items-center w-full"
      >
        <div class="flex gap-[26px] justify-between items-center text-xl">
          <div (mouseenter)="toggleMenu(true)">
            <div
              class="flex flex-row items-center gap-[4px] cursor-pointer hover:text-gray-700"
            >
              <span
                title="products"
                class="tracking-[12%] leading-[24px] text-[20px]"
                >Products</span
              >
              <img
                class="w-4 h-4 transition-all duration-300 {{
                  isMegaMenu ? 'transform -rotate-180' : ''
                }}"
                src="/assets/chevron-down.svg"
                alt="dropdown"
              />
            </div>
          </div>
        </div>
        <form
          *ngIf="showSearch"
          [formGroup]="searchForm"
          (ngSubmit)="search()"
          class="flex w-full"
        >
          <input
            title="search"
            type="text"
            #searchBar
            placeholder="Search for a product or description"
            formControlName="searchValue"
            class="outline outline-2 rounded outline-figma-green mx-4 py-1 pl-2 border self-end w-1/2 ml-auto"
          />
        </form>
        <div class="flex items-center justify-evenly w-max px-2 min-w-[270px]">
          <div class="flex items-center gap-3 mr-[26px]">
            <button
              class="w-6 h-6 flex justify-center items-center hover:bg-gray-200"
              (click)="openSearch()"
            >
              @if (showSearch) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18 18 6M6 6l12 12"
                  />
                </svg>
              } @else {

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                  />
                </svg>
              }
            </button>
          <app-cart-icon-button [numberOfCartItems]="numberOfCartItems"/>
          <app-wishlist-icon-button [numberOfWishlistItems]="numberOfWishlistItems"/>
          </div>
          @if (isAuthenticated) {
          <app-user-profile-image [smaller]="true" />
          } @else {
          <a
            class="py-1 px-10 font-semibold bg-figma-green text-white rounded-lg"
            routerLink="/login"
          >
            Sign in
          </a>
          }
        </div>
      </div>
    </nav>
  </header>

  <app-mega-menu [isMenuOpen]="isMegaMenu"></app-mega-menu>
</section>
