<main class="w-[400px] p-6 rounded-xl">
  <header class="flex items-center justify-between">
    <div class="relative">
      <img src="/assets/delete-pulse.svg" alt="delete" />
      <div
        class="absolute top-0 border-2 h-[22px] w-[21px] rounded-full border-red-600 animate-ping"
      ></div>
      <div
        class="absolute top-0 border-2 h-[22px] w-[21px] rounded-full border-red-400 animate-ping"
      ></div>
      <div
        class="absolute top-0 border-2 h-[22px] w-[21px] rounded-full border-red-200 animate-ping"
      ></div>
    </div>
    <button (click)="dialogRef.close(false)">
      <img src="/assets/close.svg" alt="close button" />
    </button>
  </header>
  <section class="flex flex-col gap-2 mt-5">
    @if (data.isCategory) {
    <h2 class="text-lg font-semibold">
      Delete {{ data.deleteList.length === 1 ? "Category" : "Categories" }}?
    </h2>
    } @else {
    <h2 class="text-lg font-semibold">Delete {{ data.caseName }} ?</h2>
    }
    <p class="text-sm text-table-text">{{ data.text }}</p>
  </section>
  <section class="flex gap-3 mt-8">
    <button
      (click)="dialogRef.close(false)"
      class="w-[170px] py-[10px] rounded-lg border border-[#D0D5DD]"
    >
      Cancel
    </button>
    <button
      (click)="deleteCategories()"
      class="w-[170px] py-[10px] rounded-lg bg-red-color text-white"
    >
      Yes, Delete
    </button>
  </section>
</main>
