<section class="px-3">
  <form #dropdown [formGroup]="comparisonProductsGroup">
    <h2 class="font-bold text-3xl border-b pb-3 mt-[39px]">Compare Servers</h2>
    <section class="grid grid-cols-2 gap-3 mt-4 border-b">
      <div class="flex flex-col">
        <app-custom-input
          id="firstProduct"
          type="async"
          placeholder="Add a server to compare"
          formControlName="firstProduct"
          [filteredOptions]="filteredProducts"
          (optionSelectedEmitter)="onProductSelected($event, 'firstProduct')"
          myClass="font-[500]"
        />
        @if (firstProduct.value) {
          <button (click)="goToConfiguration(firstProduct.value.productId ?? firstProduct.value.id)" class="bg-figma-green text-white rounded-md px-3 py-0.5">Configure</button>
        }
      </div>
      <div class="flex flex-col">
        <app-custom-input
        id="secondProduct"
        type="async"
        placeholder="Add a server to compare"
        formControlName="secondProduct"
        [filteredOptions]="filteredProducts"
        (optionSelectedEmitter)="onProductSelected($event, 'secondProduct')"
        myClass="font-[500]"
        />
        @if (secondProduct.value) {
          <button (click)="goToConfiguration(secondProduct.value.productId ?? secondProduct.value.id)" class="bg-figma-green text-white rounded-md px-3 py-0.5">Configure</button>
        }
      </div>
    </section>
  </form>


  <section>
    <h3 #processorTable>Processor</h3>
    <table class="grid grid-cols-2">
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("processor", 1) }}
        </td>
      </tr>
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("processor", 2) }}
        </td>
      </tr>
    </table>
  </section>
  <section>
    <h3>GPU Graphics Card</h3>
    <table class="grid grid-cols-2">
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("gpu", 1) }}
        </td>
      </tr>
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("gpu", 2) }}
        </td>
      </tr>
    </table>
  </section>
  <section>
    <h3>Motherboard</h3>
    <table class="grid grid-cols-2">
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("motherboard", 1) }}
        </td>
      </tr>
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("motherboard", 2) }}
        </td>
      </tr>
    </table>
  </section>
  <section>
    <h3>RAM</h3>
    <table class="grid grid-cols-2">
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("ram", 1) }}
        </td>
      </tr>
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("ram", 2) }}
        </td>
      </tr>
    </table>
  </section>
  <section>
    <h3>Storage</h3>
    <table class="grid grid-cols-2">
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("storage", 1) }}
        </td>
      </tr>
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("storage", 2) }}
        </td>
      </tr>
    </table>
  </section>
  <section>
    <h3>Operating System</h3>
    <table class="grid grid-cols-2">
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("operating system", 1) }}
        </td>
      </tr>
      <tr class="border">
        <td class="font-dm-sans">
          {{ getOptionsData("operating system", 2) }}
        </td>
      </tr>
    </table>
  </section>
  
</section>
