section {
    h3 {
        font-size: 20px;
        font-weight: 500;
        padding: 40px 8px 12px 0;
    }

    tr {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    td {
        padding: .5rem;
    }
}