<cdk-accordion-item #accordionItem="cdkAccordionItem">
    <tr
      (click)="toggle()"
      class="grid grid-cols-11 py-3 pl-3 text-sm cursor-pointer"
    >
      <td
        class="flex items-center gap-9 pr-5 md:col-span-3 2xl:col-span-2"
      >
        <app-custom-check-box
          (changeHandler)="itemSelected($event, attribute.id)"
          [formControl]="control"
          [name]="attribute.attributeName"
          [value]="attribute.id"
        />
        <p class="overflow-hidden whitespace-nowrap text-ellipsis">
          {{ attribute.attributeName }}
        </p>
      </td>
      <td class="col-span-5 flex items-center gap-3 text-start">
        <p class="">
          {{ attribute.description }}
        </p>
      </td>
      <td
        class="col-span-2 overflow-hidden whitespace-nowrap text-ellipsis self-center font-inter font-[500] text-xs"
      >
        @if (attribute.isMeasured) {
        <div
          class="flex items-center w-fit gap-[6px] bg-[#ecf8f1] rounded-2xl px-3 py-1"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
          <circle cx="4" cy="4" r="3" fill="#14BA6D"/>
          </svg>
          <p
            class="overflow-hidden whitespace-nowrap text-ellipsis text-[#2f8f57]"
          >
            Measured
          </p>
        </div>
        } @else {
        <div
          class="flex items-center w-fit gap-[6px] bg-[#fdf0f1] rounded-2xl px-3 py-1"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
          <circle cx="4" cy="4" r="3" fill="#CB000E"/>
          </svg>
          
          <p
            class="overflow-hidden whitespace-nowrap text-ellipsis text-[#b84545]"
          >
            Not measured
          </p>
        </div>
        }
      </td>
      <td class="col-span-1 self-center">
        <button class="flex justify-center w-full">
          <img [ngClass]="collapsed ? '' : 'rotate-180'" class=" transition-transform duration-300 w-6 h-6" src="/assets/chevron-down.svg" alt="expand" />
        </button>
      </td>
    </tr>
    <section [@collapse]="collapsed" class="w-[92%] 2xl:w-[96%] overflow-hidden ml-auto">
      <app-variant-options
        [attributeOptions]="attribute.attributeOptions"
        [isMeasured]="attribute.isMeasured"
        [attribute]="attribute"
        (editOption)="editOption($event)"
      />
    </section>
  </cdk-accordion-item>