<main class="flex flex-col min-h-screen">
  <h1 class="font-bold text-xl">Product Details</h1>
  <app-auth-loader [loadingState]="loadingState$" />
  <form
    [formGroup]="addProductForm"
    (ngSubmit)="addProduct()"
    class="grid grid-cols-2 gap-6 min-h-fit"
  >
    <section>
      <app-custom-input
        id="productName"
        label="Product Name"
        type="text"
        placeholder="Enter product name"
        formControlName="productName"
        myClass="font-[500]"
      />
      <app-custom-input
        id="productDescription"
        label="Product Description"
        type="textarea"
        placeholder="Enter a description"
        formControlName="productDescription"
        myClass="font-[500]"
      />

      <ng-container *ngIf="categories$ | async as categories">
        <app-custom-input
          id="category"
          label="Category"
          type="async"
          placeholder="Select an option"
          formControlName="category"
          [filteredOptions]="filteredOptions"
          [optionSelected]="onOptionSelected"
          myClass="font-[500]"
        />

        <div class="flex justify-between">
          <div class="w-[45%]">
            <app-custom-input
              id="brandName"
              label="Brand Name"
              type="async"
              placeholder="Select an option"
              [filteredOptions]="filteredOptions"
              myClass="font-[500]"
            />
          </div>
          <div class="w-[45%]">
            <app-custom-input
              id="productId"
              label="Product ID"
              type="generator"
              [isReadOnly]="true"
              placeholder=""
              formControlName="productId"
              [filteredOptions]="filteredOptions"
              myClass="font-[500]"
            />
          </div>
        </div>
      </ng-container>

      <div class="flex items-center justify-between">
        <div class="xl:w-[45%]">
          <app-custom-input
            id="inStock"
            label="In Stock"
            type="number"
            placeholder="Enter quantity in stock"
            formControlName="inStock"
            myClass="font-[500]"
          />
        </div>
        <div class="xl:w-[45%]">
          <app-custom-input
            id="price"
            label="Price"
            type="number"
            placeholder="Enter amount"
            formControlName="productPrice"
            myClass="font-[500]"
          />
        </div>
      </div>
    </section>
    <section>
      <div class="flex flex-col mt-4 h-[50%] xl:h-[60%]">
        <p class="font-[500]">Cover Image</p>
        <div
          class="relative flex flex-col items-center justify-center border rounded-lg h-full"
        >
          @if (!addProductForm.value.file && id === null) {
          <p>Upload</p>
          <input
            id="coverImage"
            type="file"
            (change)="uploadDocument($event)"
            [writeFile]="true"
            formControlName="file"
            class="hidden"
            accept=".svg ,.png, .jpg, .jpeg, .gif"
          />
          <label
            for="coverImage"
            class="cursor-pointer flex flex-col justify-center items-center text-sm text-figma-gray"
          >
            <img src="/assets/upload.svg" alt="upload" />
            <p>
              <span class="text-figma-green">Click to upload</span> or drag and
              drop
            </p>
            <p>SVG, PNG, JPG or GIF (max 800x400px)</p>
          </label>
          } @else {
            
          <img
            class="w-full h-96 object-center"
            #coverImagePreview
          />
          <button type="button" class="hover:bg-red-500 absolute bottom-5 right-5 py-1 px-3 text-white bg-red-400" (click)="removeImage()">
            Remove
          </button>
          }
        </div>
      </div>
      <div class="mt-5">
        <p class="font-[500]">Product Gallery</p>
        <small class="text-gray-500"
          >Enhance your product showcase. Add an image to your product
          gallery.</small
        >
        <div class="flex mt-4 gap-10">
          <div
            class="flex flex-col items-center justify-center border w-28 h-20 rounded-lg"
          >
            <input
              id="image1"
              [writeFile]="true"
              type="file"
              class="hidden"
              accept=".svg ,.png, .jpg, .jpeg, .gif"
            />
            <label
              for="image1"
              class="cursor-pointer flex flex-col items-center gap-1"
            >
              <img src="/assets/image-plus.svg" alt="add image" />
              <small class="text-xs">Add image 1</small>
            </label>
          </div>
          <div
            class="flex flex-col items-center justify-center border w-28 h-20 rounded-lg"
          >
            <input
              id="image2"
              type="file"
              [writeFile]="true"
              class="hidden"
              accept=".svg ,.png, .jpg, .jpeg, .gif"
            />
            <label
              for="image2"
              class="cursor-pointer flex flex-col items-center gap-1"
            >
              <img src="/assets/image-plus.svg" alt="add image" />
              <small class="text-xs">Add image 2</small>
            </label>
          </div>
          <div
            class="flex flex-col items-center justify-center border w-28 h-20 rounded-lg"
          >
            <input
              id="image3"
              type="file"
              [writeFile]="true"
              class="hidden"
              accept=".svg ,.png, .jpg, .jpeg, .gif"
            />
            <label
              for="image3"
              class="cursor-pointer flex flex-col items-center gap-1"
            >
              <img src="/assets/image-plus.svg" alt="add image" />
              <small class="text-xs">Add image 3</small>
            </label>
          </div>
        </div>
      </div>
      <section class="flex items-center justify-end mt-10 gap-6 text-sm">
        <button (click)="deleteProduct('r')" type="button" class="hover:text-red-600 text-figma-gray underline text-xs">
          Delete
        </button>
        <button
          class="border border-figma-green bg-figma-green text-white rounded w-32 py-1 tracking-wider"
        >
          Save
        </button>
        <button
        (click)="cancel()"
          type="button"
          class="border border-figma-green text-figma-green rounded w-32 py-1 tracking-wider"
        >
          Cancel
        </button>
      </section>
    </section>
  </form>
  <section class="mt-14">
    <p>Base Configuration</p>
    <div class="h-max p-3 rounded-lg mt-2 bg-[#fbfbfb]">
      <ul class="grid grid-rows-3 grid-flow-col gap-5 px-10 pt-3 list-disc">
        <ng-container *ngIf="options | async as options">
          <li class="leading-5" *ngFor="let option of options | keyvalue">
            <p class="font-[500]">{{ option.key }}</p>
            <p class="text-gray-400">{{ option.value[0].name }}</p>
          </li>
        </ng-container>
      </ul>
    </div>
  </section>
</main>
