<main class="mt-8">
    <section class="bg-[#E9EBF8] p-8 rounded-md flex flex-row flex-wrap justify-between items-center">
        <div class="flex flex-row items-start justify-center gap-3">
            <img 
            src="/assets/banner_certified.svg"
            class="w-12 h-12"
             alt="banner-certified"
            />
            <span class="flex flex-col">
                <h2 class="font-medium">High Quality</h2>
                <p class="text-[#595959]">crafted from top materials</p>
            </span>
        </div>

        <div class="flex flex-row items-start justify-center gap-3">
            <img 
            src="/assets/banner-warranty.svg"
            class="w-12 h-12"
             alt="banner-warranty"
            />
            <span class="flex flex-col">
                <h2 class="font-medium">Warranty Protection</h2>
                <p class="text-[#595959]">over 2 years</p>
            </span>
        </div>

        <div class="flex flex-row items-start justify-center gap-3">
            <img 
            src="/assets/banner-delivery.svg"
            class="w-12 h-12"
             alt="banner-delivery"
            />
            <span class="flex flex-col">
                <h2 class="font-medium">Fast Delivery</h2>
                <p class="text-[#595959]">Seamless Arrival</p>
            </span>
        </div>

        <div class="flex flex-row items-start justify-center gap-3">
            <img 
            src="/assets/banner-support.svg"
            class="w-12 h-12"
             alt="banner-support"
            />
            <span class="flex flex-col">
                <h2 class="font-medium">24 / 7 Support</h2>
                <p class="text-[#595959]">Dedicated Support</p>
            </span>
        </div>
    </section>
</main>
