<article class="grid grid-cols-2 gap-6 w-[677px] h-[159px]">
  <div class="h-[159px] border rounded-2xl">
    <img
      class="object-contain max-w-full max-h-full mx-auto"
      [ngSrc]="product.productCoverImage | cloudinaryUrl"
      height="159"
      width="297"
      priority
      [alt]="'image of ' + product.productName"
    />
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex items-center justify-between">
      <p class="font-bold text-xl">{{ product.productName }}</p>
      <p
        class="text-sm font-[500] text-[#0D121A] text-ellipsis overflow-hidden whitespace-nowrap"
      >
        {{ product.totalPrice | currency }}
      </p>
    </div>
    <div class="text-[13px] overflow-hidden whitespace-nowrap text-ellipsis">
      {{ product.productDescription }}
    </div>
    <div>
      <div class="flex text-[13px] text-[#737373] mb-[10px]">
        <span>Includes:</span>
          @for (option of product.configured | slice: 0 : 2; track option) {
              <span class="ml-2 max-w-[100px] min-w-fit whitespace-nowrap overflow-hidden text-ellipsis">{{option.optionName}}, </span>
          }
          @if (product.configured.length > 2) {
            <span class="ml-2">+{{ product.configured.length - 2}}</span>
          }
      </div>
      <div class="flex items-center gap-2 mt-[10px] text-sm">
        <p>QTY</p>
        <div class="flex items-center text-[13px] gap-3 bg-[#E8EAEB80] rounded-3xl px-2">
          <button class="text-lg" (click)="decrementQuantity()">-</button>
          <p class="text-sm">{{quantity}}</p>
          <button class="text-lg" [ngClass]="quantity === limit ? 'text-table-text' : ''" (click)="incrementQuantity()">+</button>
        </div>
      </div>
  
      <button
        (click)="deleteCartItem(product.id)"
        class="self-start text-xs mt-[5px] underline text-red-color"
      >
        Remove
      </button>
    </div>
  </div>
</article>
