<section class="mt-10 bg-[#F8F9FD] w-[99vw] relative left-1/2 transform -translate-x-1/2 overflow-x-hidden">
    <h2 class="text-center font-semibold text-xl md:text-2xl pt-14 pb-10 lg:pb-0">About us</h2> 
    <div class="flex flex-row max-w-screen-maxCap flex-wrap sm:flex-nowrap -mt-8 justify-center mb-14 items-center gap-2 px-2 mx-auto">
        <div class="-mt-10">
            <img 
              src="/assets/about-guy.svg"
              alt="about-guy"
            />
        </div>
        <div class="max-w-[500px] lg:mt-20 w-full flex flex-col gap-10 lg:gap-18">
            <p class="w-full leading-[2rem] md:leading-[2.5rem] text-lg text-[#515151]">
                At servers, our journey is rooted in a passion for empowering businesses with powerful computing solutions. With a team of experts who share a deep understanding of the ever-evolving tech landscape, we curate a range of server configurations that redefine performance benchmarks.
            </p>

            <div class="flex items-center justify-start w-full">
                <button class="bg-[#3CB043] max-w-[235px] w-full text-white p-4 rounded-lg hover:bg-green-500">
                  Join our community
                </button>
              </div>
        </div>
    </div>
</section>
