<form class="mt-10" [formGroup]="creditCardForm" (ngSubmit)="addCard()">
  <ng-container *ngIf="cards | async as cards">
    <app-card-list [cards]="cards"/>
  </ng-container>
  <section class="flex gap-[25px] w-[432px]">
    <app-custom-radio
      formControlName="paymentMethod"
      [currentPaymentMethod]="creditCardForm.value['paymentMethod']"
      id="visa"
      label="Visa"
      name="paymentMethod"
      value="visa"
      imgUrl="/assets/visa.svg"
    />
    <app-custom-radio
      formControlName="paymentMethod"
      [currentPaymentMethod]="creditCardForm.value['paymentMethod']"
      id="mastercard"
      label="Mastercard"
      name="paymentMethod"
      value="mastercard"
      imgUrl="/assets/mastercard.svg"
    />
  </section>
  <section class="grid grid-cols-2 gap-x-[35px]">
    <div>
      <app-custom-input
        id="name"
        label="Name"
        type="text"
        placeholder="Enter your name on the card"
        formControlName="name"
      />
      @if (name?.invalid && (name?.touched || name?.dirty)) {
      <span class="text-red-600">A name is required</span>
      }
    </div>
    <div>
      <app-custom-input
        id="cardNumber"
        label="Card Number"
        type="number"
        inputmode="numeric"
        placeholder="Enter card number"
        formControlName="cardNumber"
      />
      @if (cardNumber?.invalid && (cardNumber?.touched || cardNumber?.dirty)) {

      <div *ngIf="cardNumber?.errors?.['required']">
        <span class="text-red-600 text-xs">A card number is required</span>
      </div>
      <div
        *ngIf="cardNumber?.errors?.['minlength']"
      >
        <span class="text-red-600 text-xs">{{16 - cardNumber?.value.toString().length}} digits left</span>
      </div>
      <div
        *ngIf="cardNumber?.errors?.['maxlength']"
      >
        <span class="text-red-600 text-xs">{{cardNumber?.value.toString().length - 16}} digits in excess</span>
      </div>
      <div *ngIf="cardNumber?.errors?.['pattern']">
        <span class="text-red-600">Please use only numbers</span>
      </div>
      }
    </div>
    <div>
      <app-custom-input
        id="securityCode"
        label="Security Code"
        type="number"
        placeholder="CVC"
        formControlName="securityCode"
      />
      @if (securityCode?.invalid && (securityCode?.touched ||
      securityCode?.dirty)) {
      <div *ngIf="securityCode?.errors?.['required']">
        <span class="text-red-600 text-xs">A security code is required</span>
      </div>
      <div *ngIf="securityCode?.errors?.['minlength'] || securityCode?.errors?.['maxlength']">
        <span class="text-red-600 text-xs">Enter 3 or 4 digits</span>
      </div>
      <div *ngIf="securityCode?.errors?.['pattern']">
        <span class="text-red-600 text-xs">Please use only numbers</span>
      </div>
      }
    </div>
    <label class="flex flex-col gap-0.5 mt-4" for="expiration">
      Expiration Date
      <div
        [ngClass]="
          (year?.invalid && (year?.touched || year?.dirty)) ||
          (month?.invalid && (month?.touched || month?.dirty))
            ? 'outline-red-600 border-red-400'
            : 'focus-within:border-figma-green'
        "
        class="flex w-full border-[1.5px] rounded-md py-2 px-4"
      >
        <input
          id="expiration"
          type="number"
          name="month"
          placeholder="MM"
          formControlName="month"
          class="border-0 outline-none text-center w-10"
          #monthRef
        />
        <span class="mx-2">/</span>
        <input
          type="number"
          name="year"
          placeholder="YY"
          formControlName="year"
          class="border-0 outline-none text-center w-10"
          #yearRef
        />
      </div>
      @if ((year?.invalid && (year?.touched || year?.dirty)) || month?.invalid
      && (month?.touched || month?.dirty)) {
        <div class="flex flex-col items-start h-5 overflow-hidden">
          <div *ngIf="month?.errors?.['month']">
            <span class="text-red-600 text-xs">{{ month?.errors?.['month']}}</span>
          </div>
          <div *ngIf="year?.errors?.['year']">
            <span class="text-red-600 text-xs">{{ year?.errors?.['year']}}</span>
          </div>
        </div>
      }
      <div *ngIf="year?.errors?.['maxlength']">
        <span class="text-red-600 text-xs">Please enter 2 digits each</span>
      </div>
      <div *ngIf="year?.errors?.['pattern']">
        <span class="text-red-600 text-xs">Please use only numbers</span>
      </div>
    </label>
    <app-custom-input
      type="text"
      label="Reference"
      placeholder="Enter a reference"
      formControlName="creditCardReference"
    />
  </section>
  @if (page === 'default') {
  <app-custom-button buttonText="Add Card" [isPrimaryButton]="true" />
  } @else {
  <div class="flex justify-between mt-4">
    <app-custom-check-box
      name="save-form"
      label="Save this information for next time"
      class="text-table-text text-sm"
    />
    <button
      (click)="clearForm()"
      type="button"
      class="text-xs text-red-color underline"
    >
      Clear form
    </button>
  </div>
  }
</form>
