<form class="mt-4 md:mt-0 xl:w-[50%]" [formGroup]="passwordForm" (ngSubmit)="savePasswordChanges()">
  <h2 class="font-bold text-center md:text-start">Password</h2>
  <app-auth-loader [loadingState]="loadingState$"/>
  <app-custom-input
    id="currentPwd"
    label="Current Password"
    type="password"
    placeholder="Enter your current password"
    formControlName="currentPwd"
  />
  <app-custom-input
    id="newPwd"
    label="New Password"
    type="password"
    placeholder="Enter your new password"
    formControlName="newPwd"
    (focusFn)="onFocus(newPwd)"
  />
  @if (newPwd.invalid && (newPwd.touched || newPwd.dirty)) {
  <div *ngIf="newPwd?.errors?.['required']">
    <span class="text-red-600">Please enter a password</span>
  </div>
  <div *ngIf="newPwd?.errors?.['minlength']">
    <span class="text-red-600"
      >Password must be at least 8 characters long.</span
    >
  </div>
  <div *ngIf="newPwd?.errors?.['pattern']">
    <span class="text-red-600">Please enter a valid password</span>
  </div>
  }
  <p class="leading-tight text-xs text-gray-500">
    Use a minimum of 8 characters (case sensitive) with at least one number and
    special character.
  </p>
  <app-custom-input
    id="confirmPwd"
    label="Confirm Password"
    type="password"
    placeholder="Confirm your new password"
    formControlName="confirmPwd"
    (focusFn)="onFocus(confirmPwd)"
  />
  @if (confirmPwd.invalid && (confirmPwd.touched || confirmPwd.dirty)) {
  <div *ngIf="newPwd?.errors?.['required']">
    <span class="text-red-600">Please enter a password</span>
  </div>
  <div *ngIf="confirmPwd?.errors?.['confirmPwd']">
    <span
      class="text-red-600"
      >{{confirmPwd.errors?.['confirmPwd']?.value}}</span
    >
  </div>
  }

  <app-custom-button buttonText="Save Changes" [isPrimaryButton]="true" />
</form>
