  <div class="relative">
      <input
        type="text"
        placeholder="Select an option"
        [ngClass]="isDisabled ? 'bg-attr-button' : ''"
        class="w-full mt-6 border-[1.5px] placeholder:text-figma-gray outline-figma-green px-4 py-2 rounded-md"
        aria-label="Number"
        matInput
        [formControl]="control"
        [matAutocomplete]="auto"
      />
      <img class="absolute top-3 right-[10px] mt-6 transition-transform duration-300 w-4 h-4" src="/assets/chevron-down.svg" alt="expand" />
    </div>
  <mat-autocomplete
    (optionSelected)="sizeSelection($event)"
    [hideSingleSelectionIndicator]="true"
    #auto="matAutocomplete"
  >
    @for (option of filteredOptions | async; track option) {
    <mat-option [value]="option" class="relative">
      <span>
        {{ option }}
      </span>
    </mat-option>
    }
  </mat-autocomplete>
