<section class="flex justify-around gap-48 p-16 overflow-hidden">
    <div class="flex flex-col gap-4 items-center">
        <img class="w-28 h-28" src="/assets/dummy-profile.jpg" alt="profile picture">
        <p class="text-lg font-bold">Cameron Williamson [username]</p>
        <button class="text-sm border-2 border-figma-green text-figma-green font-bold rounded-xl px-4 py-2 tracking-wider">
            Upload New Avatar
        </button>

        <button class="underline text-red-600">
            Delete Account
        </button>
    </div>
    <div class="w-[80%] xl:w-[40%]">
        <ng-content></ng-content>
    </div>
</section>