<footer class="flex flex-col border-t py-11 mb-11 h-[760px] md:h-[316px]">
    <div class="max-w-[1239px] w-full px-14 lg:px-0 mx-auto text-center md:text-left">
        <section class="flex flex-col md:flex-row md:items-start md:justify-between items-center gap-4 font-inter ">
          <div class="flex flex-col gap-0 md:gap-4 items-center md:items-start md:w-[40%]">
              <img src="/assets/logo.svg" alt="logo at footer">
              <div class="flex items-start w-[354px]">
                  <img class="w-6 h-6 md:mr-[19px] mt-[6px]" src="/assets/location.svg" alt="location">
                    <p class="text-[21px] text-[#191D23] !font-plus-jakarta-sans">8502 Preston Rd. Inglewood, Maine 98380, USA</p>              
              </div>
          </div>
          <div>
              <h2 class="text-2xl mb-5">Company</h2>
              <ul class="text-sm text-table-text flex flex-col gap-5">
                  <li>About Us</li>
                  <li>Terms & Conditions</li>
                  <li>Privacy Policy</li>
              </ul>
          </div>
          <div>
              <h2 class="text-2xl mb-5">Customer Support</h2>
              <ul class="text-sm text-table-text flex flex-col gap-5">
                  <li>Customer Service</li>
                  <li>Warranty</li>
                  <li>FAQs</li>
                  <li>Contact Us</li>
              </ul>
          </div>
          <div>
              <h2 class="text-2xl mb-5">Orders & Returns</h2>
              <ul class="text-sm text-table-text flex flex-col gap-5">
                  <li>Shipping</li>
                  <li>Returns</li>
                  <li>Gift Cards</li>
                  <li>Promotions</li>
              </ul>
          </div>
      </section>
      <section class="flex flex-col md:flex-row gap-4 items-center mt-[54px] justify-between">
          <div class="flex items-center gap-4">
              <img class="w-[38px] h-[38px]" src="/assets/insta.svg" alt="instagram">
              <img class="w-[38px] h-[38px]" src="/assets/facebook.svg" alt="facebook">
              <img class="w-[38px] h-[38px]" src="/assets/X.svg" alt="X">
          </div>
          <p>© Copyright 2024, All Rights Reserved</p>
      </section>
    </div>
</footer>
