<main class="flex flex-col gap-4 min-h-screen">
  <section class="flex w-full justify-between">
    <h2 class="font-bold text-2xl">Order List</h2>
    <div class="flex items-start gap-[10px]">
      @if(isAdmin) {

        <button
          *ngIf="ordersTodelete.size > 0"
          (click)="deleteOrders()"
          class="flex items-center gap-2 font-[500] text-sm py-1 px-2 mt-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            />
          </svg>
  
          <p>Delete</p>
        </button>
      }
      <app-custom-select
        [control]="filter"
        [options]="['All', 'Canceled', 'Delivered', 'Pending', 'Shipped', 'Out For Delivery']"
        placeholder="Filter by status"
        (onSelect)="filterBy($event)"
      />
      <app-date-picker (fromDateEmitter)="getFromDate($event)" (toDateEmitter)="getToDate($event)"/>
    </div>
  </section>
  <section class="mt-6">
    <table class="w-full">
      <tr
        class="flex items-center text-table-text bg-table-bg text-xs font-[500] border-b h-[44px]"
      >
        <th *ngIf="isAdmin" class="w-[5%] ml-3">
          <app-custom-check-box (changeHandler)="removeCheck()" />
        </th>
        <th
          class="overflow-hidden whitespace-nowrap text-ellipsis text-table-text w-[20%] text-start"
        >
          Products
        </th>
        <th
          class="overflow-hidden whitespace-nowrap text-ellipsis text-table-text w-[15%] text-start"
        >
          Tracking ID
        </th>
        <th
          *ngIf="isAdmin"
          class="overflow-hidden whitespace-nowrap text-ellipsis text-table-text w-[15%] text-start"
        >
          Customer Name
        </th>
        <th
          class="overflow-hidden whitespace-nowrap text-ellipsis text-table-text w-[15%] text-start"
        >
          Payment Method
        </th>
        <th
          class="overflow-hidden whitespace-nowrap text-ellipsis text-table-text w-[15%] text-start"
        >
          Status
        </th>
        <th
          class="overflow-hidden whitespace-nowrap text-ellipsis text-table-text w-[15%] text-start"
        >
          Date
        </th>
        <th
          class="overflow-hidden whitespace-nowrap text-ellipsis text-table-text w-[15%] text-start"
        >
          Price
        </th>
        <th
          class="overflow-hidden whitespace-nowrap text-ellipsis text-table-text w-[8%] text-center"
        >
          Actions
        </th>
      </tr>
      <ng-container *ngIf="orders | async as orders">
        @for (order of orders.content | paginate: { id: 'orders', itemsPerPage:
        13, currentPage: page, totalItems: orders.totalElements}; track order) {
        <tr>
          @if (isAdmin) {
            <app-order-row
              [control]="$any(selectForm.controls[order.orderId])"
              (itemSelectedEmitter)="itemSelected($event.selected, $event.id)"
              [order]="order"
              [isAdmin]="isAdmin"
            />
          } @else {
            <app-order-row
              (itemSelectedEmitter)="itemSelected($event.selected, $event.id)"
              [order]="order"
              [isAdmin]="isAdmin"
            />
          }
        </tr>
        }
      </ng-container>
      <pagination-template
        #p="paginationApi"
        class="flex w-full justify-end self-end gap-3 mt-6"
        (pageChange)="getPage($event)"
        id="orders"
        rounded-md
        (pageBoundsCorrection)="getPage($event)"
      >
        <button
          [ngClass]="p.isFirstPage() ? 'pointer-events-none text-gray-200' : ''"
          class="flex flex-col justify-center items-center w-10 h-10 border rounded-md"
          (click)="p.previous()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5 8.25 12l7.5-7.5"
            />
          </svg>
        </button>
        <ng-container *ngIf="p.pages.length > 0">
          <div
            *ngFor="let page of p.pages"
            [class.current]="p.getCurrent() === page.value"
          >
            <button
              class="w-10 h-10 font-bold border rounded-md"
              (click)="p.setCurrent(page.value)"
              *ngIf="p.getCurrent() !== page.value"
            >
              <span>{{ page.label }}</span>
            </button>
            <button
              class="w-10 h-10 font-bold border rounded-md"
              [ngClass]="
                p.getCurrent() === page.value
                  ? 'text-figma-green bg-figma-green bg-opacity-5 border-figma-green'
                  : ''
              "
              *ngIf="p.getCurrent() === page.value"
            >
              <span>{{ page.label }}</span>
            </button>
          </div>
        </ng-container>

        <button
          class="flex flex-col justify-center items-center w-10 h-10 border rounded-md"
          [ngClass]="p.isLastPage() ? 'pointer-events-none text-gray-200' : ''"
          (click)="p.next()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </button>
      </pagination-template>
    </table>
  </section>
</main>
