<form
  class="grid grid-cols-2 gap-x-[35px] mt-4 md:mt-4"
  [formGroup]="mobileMoneyForm"
  (ngSubmit)="addWallet()"
>
  <app-custom-select
    label="Network"
    [control]="$any(mobileMoneyForm.controls['network'])"
    [options]="['MTN', 'Vodafone']"
  />
  <label class="flex flex-col " for="contact">
    <span class="">Contact</span>
    <input
      id="contact"
      [ngClass]="showWarning ? 'border-red-600' : ''"
      type="tel"
      class="flex border-[1.5px] w-full placeholder:text-figma-gray outline-none px-4 py-2 rounded-md"
      #telInput
    />
  </label>
  @if (showWarning !== '') {
  <span class="text-red-600 text-sm">{{ showWarning }}</span>
  }
  @if (page === 'checkout') {
    <app-custom-input type="text" [isReadOnly]="true" label="Amount" formControlName="amount"/>
    <app-custom-input type="text" label="Reference" placeholder="Enter a reference" formControlName="reference"/>
    
  } @else {
    <app-custom-button buttonText="Add Wallet" [isPrimaryButton]="true" />
  }
</form>
@if (page === 'checkout') {
  <div class="flex justify-between mt-4">
    <app-custom-check-box
      name="save-form"
      label="Save wallets for future purchase"
      class="text-table-text text-sm"
    />
    <button type="button" class="text-xs text-red-color underline">
      Clear form
    </button>
  </div>
}
