<app-auth-loader [loadingState]="loadingState$"/>
<form
  novalidate
  (ngSubmit)="resetPassword()"
  [formGroup]="resetPasswordForm"
  class="md:p-0 px-4 md:w-[500px] mx-auto w-full"
>
    <app-custom-input
      id="password"
      label="New Password"
      type="password"
      placeholder="Enter new password"
      formControlName="password"
    />
    @if (password?.invalid && (password?.touched || password?.dirty)) {
    <div *ngIf="password?.errors?.['required']">
      <span class="text-red-600">Please enter a password</span>
    </div>
    <div *ngIf="password?.errors?.['minlength']">
      <span class="text-red-600"
        >Password must be at least 8 characters long.</span
      >
    </div>
    <div *ngIf="password?.errors?.['pattern']">
      <span class="text-red-600">Please enter a valid password</span>
    </div>
    }
    <p class="leading-tight text-sm text-gray-500">
      Use a minimum of 8 characters (case sensitive) with at least one number
      and special character.
    </p>
    <app-custom-input
      id="confirmPwd"
      label="Confirm New Password"
      type="password"
      placeholder="Confirm new password"
      formControlName="confirmPwd"
    />
    @if (confirmPwd?.invalid && (confirmPwd?.touched || confirmPwd?.dirty)) {
    <div *ngIf="password?.errors?.['required']">
      <span class="text-red-600">Please enter a password</span>
    </div>
    <div *ngIf="confirmPwd?.errors?.['confirmPwd']">
      <span
        class="text-red-600"
        >{{confirmPwd?.errors?.['confirmPwd']?.value}}</span
      >
    </div>
    }
    <app-custom-button
      buttonText="Reset password"
      [disableButton]="this.resetPasswordForm.invalid"
    />
</form>
