@if (cartItem) {
<div
  [ngClass]="{
    'pt-6 pb-[13px] md:w-[421px] h-fit': page === 'cart',
    'pt-[10px] pb-[51px] w-[410px] max-h-[448px]':
      page === 'checkout' || page === 'details'
  }"
  class="flex flex-col gap-5 px-[15px] border-[2px] border-dashed rounded-2xl"
>
  <h2 class="font-bold text-xl">{{ title }}</h2>
  <div class="flex flex-col gap-5 max-h-[420px] pr-2 overflow-auto myScroll">
    <div class="flex items-center justify-between">
      <span class="text-[13px]">{{ cartItem.productName }}</span>
      <div class="flex items-center gap-7 text-[13px]">
        <p>QTY <span class="bg-[#8E98A81A] px-2 py-[0.5px] ml-[5px] rounded">x{{quantity}}</span></p>
        <span class="text-sm font-[500]">{{
          cartItem.totalPrice | currency
        }}</span>
      </div>
    </div>
  </div>

  <p class="flex justify-between items-end mt-[79px]">
    <span class="text-[13px]">Subtotal({{ quantity }})</span>
    <span class="text-sm font-[500]">{{ subTotal | currency }}</span>
  </p>
  <p class="text-[13px] text-[#737373]">(Incl. VAT)</p>
  @if (page === 'cart') {
  <button
    (click)="goToCheckout()"
    class="bg-figma-green hover:bg-green-500 w-full p-[9px] rounded-xl text-white font-[500px] text-[20px]"
  >
    Proceed to Checkout
  </button>
  } @else if (page === 'checkout') {
  <p class="text-figma-green underline text-xs font-inter">
    Have a discount code?
  </p>
  }
</div>
}
