<main class="flex flex-col gap-4 min-h-screen">
  <section class="flex w-full justify-between">
    <h2 class="font-bold text-2xl">Case Management</h2>
    <button
      routerLink="/admin/add-case"
      class="flex items-center gap-2 rounded font-[500] bg-figma-green text-white text-sm py-1 px-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        data-slot="icon"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      <p>Add Case</p>
    </button>
  </section>
  <app-paginated (pageEmitter)="getPage($event)" paginationId="cases">
    <section class="relative flex flex-wrap gap-x-[40px] gap-y-[32px]">
      <ng-container
        *ngIf="{ cases: cases | async, total: total | async } as cases"
      >
        <ng-container *ngIf="cases.cases && cases.total">
          @for (case of cases.cases| paginate: { id: 'cases', itemsPerPage: 9,
          currentPage: page, totalItems: cases.total}; track case) {
          <app-case-item [case]="case" />
          }
        </ng-container>
      </ng-container>
    </section>
  </app-paginated>
</main>
