/* You can add global styles to this file, and also import other style files */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
input[type="checkbox"] {
  display: grid;
  place-content: center;
  appearance: none;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  transform: translateY(-0.075em);
  background-color: white;
  margin: 0;
}
input[type="checkbox"]:checked {
    background-color: #3cb043;
    border-color: #3cb043;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  background-color: green;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
  background-color: white;
}

app-account-settings .mdc-tab--active {
  background-color: #ecf7ec;
  transition: all 1s
}

app-account-settings, app-product-configure .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #3cb043
}
app-account-settings, app-product-configure .mat-mdc-tab-link.mdc-tab--active:focus .mdc-tab__text-label  {
  color: #3cb043
}
app-account-settings, app-product-configure .mat-mdc-tab-link.mdc-tab--active .mdc-tab__text-label  {
  color: #3cb043
}

app-account-settings, app-product-configure .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #3cb043;
}

app-account-settings .mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline {
  border-color: #3cb043;
}

app-product-configure .mdc-tab-indicator__content .mdc-tab-indicator__content--underline {
  border-color: #3cb043;
}

app-account-settings .mat-mdc-tab-body {
  background-color: white
}

app-account-settings, app-product-configure .mat-mdc-tab-header{
  background-color: #fbfbfb;
}

app-account-settings, app-product-configure .mdc-tab-indicator {
  display: none;
}

app-payment-details .mat-mdc-tab:not(.mdc-tab--stacked) {
  height: 40px;
  border-radius: 8px;
}

app-payment-details .mat-mdc-tab-header {
  border-radius: 8px;
}

app-payment-details  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: white;
}

app-payment-details .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label {
  color: white;
}

app-payment-details  .mdc-tab--active {
  background-color: #3cb043;
  transition: all 1s
}
app-payment-details .mdc-tab {
  padding-right: 0;
  padding-left: 0;
}

app-payment-details .mat-mdc-tab-label-container {
  padding: 8px;
  background-color: #f6f8f8;
}

app-payment-details .mat-mdc-tab-group {
  width: 500px;
  max-width: 120%;
}

app-admin-dashboard .mat-mdc-tab-links {
  flex-direction: column;
  gap: 5px;
}

app-admin-dashboard .mdc-tab {
  justify-content: start;
}

app-admin-dashboard .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #3cb043;
}
app-admin-dashboard .mat-mdc-tab-link.mdc-tab--active:focus .mdc-tab__text-label  {
  color: #3cb043;
}
app-admin-dashboard .mat-mdc-tab-link.mdc-tab--active .mdc-tab__text-label  {
  color: #3cb043;
}

app-admin-dashboard, app-product-configure  .mdc-tab--active {
  background-color: #f7fcf7;
  transition: all 1s;
  border-radius: 12px;
}


app-admin-dashboard  .mdc-tab:hover {
  border-radius: 12px;
  background-color: #f7fcf7;
}

app-admin-dashboard .mdc-tab-indicator {
  display: none;
}


// .iti {
//   width: 100%;
// }

// app-custom-input .cdk-overlay-pane {
//   width: 53px;
// }
.custom-panel {
  width: fit-content;
}

.otp-input[_ngcontent-ng-c3470639301] {
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 2px solid #dddfe1 !important;
  outline: none;
}

.iti {
  width: 100%;
}
.iti__country-list {
  width: 410px;
}

app-preference-selection .mat-expansion-indicator:after {
  border-color: black;
}

@media only screen and (max-width: 768px) {
  app-payment-details .mat-mdc-tab-group {
    max-width: 100%;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
