<main class="grid grid-cols-1 p-3 md:p-0 md:grid-cols-2">
    <section class="flex flex-col items-center md:py-12 md:px-16">
      <img
        class="mb-6 self-start md:mb-16 cursor-pointer"
        routerLink="/"
        src="/assets/logo.svg"
        alt="Company logo"
      />
      <h1 class="text-[38px] mt-6 md:m-0 font-bold">Verify Email</h1>
      <section class="w-full">
        <app-otp />
      </section>
    </section>
    <img
      class="hidden md:flex w-full !h-screen !relative"
      ngSrc="/assets/reset-pic.jpg"
      fill
      priority
      alt="Side image of signup form"
    />
  </main>
  