<h2 class="font-bold text-[24px]">Category Details</h2>
<app-auth-loader [loadingState]="loadingStatus" />
<ng-container>
  <form
    [formGroup]="categoryForm"
    (ngSubmit)="createConfig()"
    class="flex flex-col gap-10 min-h-screen"
  >
    <section class="w-1/2">
      <app-custom-input
        id="categoryName"
        label="Category Name"
        type="text"
        placeholder="Enter category name"
        [formControl]="$any(categoryForm.controls['categoryName'])"
      />
      @if (categoryName.invalid && (categoryName.touched || categoryName.dirty))
      {
      <div *ngIf="categoryName?.errors?.['required']">
        <span class="text-red-600">A category name is required</span>
      </div>
      }
    </section>
    <section>
      <h2 class="font-bold font-dm-sans">Incompatible Attributes</h2>
      <section class="grid grid-cols-6 w-full gap-x-10">
        <div class="col-span-3 mt-4">
          <app-custom-select
            label="Attributes"
            [control]="$any(categoryForm.controls['attributesInput'])"
            [options]="localAttributes"
            (onSelect)="onSelectChange($event)"
          />
        </div>
        <ng-container
          *ngIf="selectedAttributes | async as variantsForAttribute"
        >
          <div class="flex flex-col col-span-2 gap-0.5 mt-4">
            <app-custom-select
              label="Variants"
              [control]="$any(categoryForm.controls['variants'])"
              [options]="variantsForAttribute"
              [isMultipleSelect]="true"
              [isDisabled]="variantsForAttribute.length === 0"
            />
          </div>
          <button
            type="button"
            (click)="addAttribute()"
            class="text-figma-green font-inter text-xs underline self-end"
          >
            Add attribute
          </button>
        </ng-container>
      </section>
    </section>
    <section
      class="flex items-center bg-[#D9D9D91A] pt-[8px] pb-[7px] overflow-auto"
    >
      <button
        *ngIf="isOverflown(contentWrapper)"
        type="button"
        [ngClass]="
          makeRightButtonGreen
            ? 'bg-figma-green text-white'
            : 'bg-attr-button text-[#B0B0B0]'
        "
        (click)="sideScroll(contentWrapper, 25, 100, -10)"
        class="h-6 w-6 mx-[9px] rounded-full p-[6px]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
        >
          <path
            d="M7.5 2.5L4 6L7.5 9.5"
            stroke="currentColor"
            stroke-width="0.9"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <div class="flex divide-x overflow-auto" #contentWrapper>
        <div
          class="flex flex-col px-[10px]"
          *ngFor="
            let incompatibleAttribute of incompatibleAttributes | keyvalue
          "
        >
          <p class="font-inter pb-[9px] text-xs">
            {{ incompatibleAttribute.key }}
          </p>
          <div class="flex gap-[18px]">
            <button
              type="button"
              (click)="removeAttributeOption(attribute, incompatibleAttributes)"
              class="flex items-center py-[5px] px-[12px] rounded-[70px] bg-attr-button w-max"
              *ngFor="let attribute of incompatibleAttribute.value.values()"
            >
              <span class="whitespace-nowrap text-xs">{{
                attribute.optionName
              }}</span>
              <img
                class="pl-[12px]"
                src="/assets/remove.svg"
                alt="remove button"
              />
            </button>
          </div>
        </div>
      </div>
      <button
        *ngIf="isOverflown(contentWrapper)"
        type="button"
        [ngClass]="
          makeLeftButtonGreen
            ? 'bg-figma-green text-white'
            : 'bg-attr-button text-[#B0B0B0]'
        "
        class="mx-[9px] h-6 w-6 rounded-full p-[6px]"
        (click)="sideScroll(contentWrapper, 25, 100, 10)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
        >
          <path
            d="M4.5 2.5L8 6L4.5 9.5"
            stroke="currentColor"
            stroke-width="0.9"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </section>
    <ng-container *ngIf="attributes | async as attributes" `>
      <section>
        <h2 class="font-[700] font-dm-sans mb-[34px]">Base Configuration</h2>
        <section class="grid grid-cols-2 gap-x-20 gap-y-6">
          @for (attribute of attributes; track $index) { @if
          (attribute.isMeasured) {
          <div class="grid grid-cols-2 gap-[13px]">
            <app-custom-select
              [label]="attribute.attributeName"
              [control]="$any(categoryForm.controls[attribute.attributeName])"
              [options]="attribute.attributeOptions"
              (onSelect)="onSelectConfigOptions($event, attribute)"
              [isDisabled]="attribute.attributeOptions.length === 0"
            />
            <app-custom-select
              [control]="
                $any(categoryForm.controls[attribute.attributeName + 'Size'])
              "
              [options]="sizes[attribute.attributeName]"
              [isDisabled]="!sizes[attribute.attributeName]"
            />
          </div>
          } @else {
          <app-custom-select
            [label]="attribute.attributeName"
            [control]="$any(categoryForm.controls[attribute.attributeName])"
            [options]="attribute.attributeOptions"
            (onSelect)="onSelectConfigOptions($event, attribute)"
            [isDisabled]="attribute.attributeOptions.length === 0"
          />
          } }
        </section>
      </section>
    </ng-container>
    <section class="flex items-center justify-end mt-10 gap-6">
      <button
        type="submit"
        class="border border-figma-green bg-figma-green text-white rounded-[7px] w-32 py-1 font-[700]"
      >
        Save Changes
      </button>
      <button
        type="button"
        class="border border-figma-green text-figma-green rounded-[7px] w-32 py-1 font-[700]"
      >
        Cancel
      </button>
    </section>
  </form>
</ng-container>
