<main class="mt-10">
    <section class="flex flex-col gap-3">
        <h2 class="font-bold text-center text-xl py-6">Featured Products</h2>
        <ng-container *ngIf="loading$ | async as loading">
            <div *ngIf="loading">
            <img 
            src="/assets/spinner.svg"
            alt="spinner"
            />
            loading...
            </div>
        </ng-container>
        

        <ng-container *ngIf="featuredProducts$ | async as featuredProducts">
          <div class="grid gap-4 grid-flow-row lg:grid-cols-4 2xl:grid-cols-4 md:grid-cols-2 sm:grid-cols-1">
              @for(product of featuredProducts; let idx = $index; track idx) {
                  <app-user-product-item [product]="product"></app-user-product-item>
              }
          </div>
        </ng-container>
        

        <div class="flex items-center justify-center w-full">
            <button
            (click)="navigateToProduct()"
            class="bg-[#3CB043] max-w-[235px] w-full text-white p-4 rounded-lg hover:bg-green-500">
              Show More
            </button>
          </div>
          
    </section>
</main>