h1 {
    font-weight: 500;
    font-size: larger;
    margin-top: 10px;
}
h2 {
    font-weight: 500;
    color: black;
    margin-top: 10px;
}
li {
    margin-top: 1rem;
}

ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
}
