<span [ngClass]="myClass" class="mt-4 mb-4">{{ label }}</span>
@if (isMultipleSelect) {
  <mat-form-field appearance="outline">
    <mat-error>Required</mat-error>
<mat-select
  panelClass="myPanel"
  [required]="isRequired"
  #matSelect
  [placeholder]="placeholder"
  [ngClass]="{
    'bg-attr-button': isDisabled,
    'mt-4': noMargin
  }"
  class="flex-1 border-[1.5px] h-[42px] rounded-md"
  [formControl]="control"
  multiple
  (selectionChange)="select($event)"
  [disabled]="isDisabled"  
>
  <button
    (click)="toggleAllSelection()"
    [ngClass]="allSelected ? 'bg-[#E8EAEB66]' : ''"
    class="flex min-h-[48px] pl-4 pr-[11px] text-sm w-full justify-between items-center"
  >
    <p>All Variants</p>
  </button>
  @for (option of options; track option) {
  <mat-option
    class="flex-row-reverse !text-sm !pr-[11px] myOption"
    (onSelectionChange)="optionClick()"
    [value]="option"
    >{{ option.optionName ?? option.name ?? option }}</mat-option
  >
  }
</mat-select>
</mat-form-field>
} @else {
  <mat-form-field appearance="outline">
    <mat-error>Required</mat-error>
    <mat-select
      [required]="isRequired"
      panelClass="myPanel"
      [placeholder]="placeholder"
      [ngClass]="{
        'bg-attr-button': isDisabled,
        'mt-6': noMargin
      }"
      class="flex-1 h-[42px] rounded-md"
      [formControl]="control"
      (selectionChange)="select($event)"
      [disabled]="isDisabled"
      [compareWith]="compareFn"
      [value]="control.value"
    >
      @if(showingNonRequiredAttributes) {
        <p class="flex pl-4 pr-[11px] text-gray-400 text-sm w-full justify-between items-center">Non required attributes</p>
      }
      @for (option of options; track option;) {
      <mat-option class="flex-row !text-sm !pr-[11px] myOption" [value]="option">{{
        option.optionName ?? option.attributeName ?? option.name ?? option
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
}
