<section class="mt-10">
  <h2 class="font-bold text-xl py-4">Most Popular</h2>

  <ng-container *ngIf="popularProducts$ | async as popularProducts">
    <ng-container *ngIf="popularProducts.length <= 0"> 
        <div class="text-center">No current popular products!!!</div>
    </ng-container>
    <div class="flex flex-col gap-4">
        <ng-container *ngIf="popularProducts.length > 0">
          <div class="keen-slider flex flex-row w-full">
            <div
              *ngFor="let product of popularProducts; let idx = index"
              class="keen-slider__slide number-slide1"
            >
              <app-homepage-product-item [product]="product"></app-homepage-product-item>
            </div>
          </div>
        </ng-container>
        <div class="flex w-full flex-row justify-between items-center"></div>
      </div>
  </ng-container>
</section>
